template
    .ui.active.dimmer(if.bind="loading", style="position:absolute; top:47px; left:0; right:0; bottom:0;")
        .ui.loader

    form.overlay(enctype="multipart/form-data" if.bind="!loading")
        .ui.container
            .ui.secondary.menu
                .right.menu
                    a.item
                        i.huge.ion-ios-close-empty.icon(click.delegate="cancel()")
            .ui.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW WORKSPACE
                        .ui.hidden.divider
                        .ui.hidden.divider
                        input(type="hidden" name="image-name")
                        input(type="hidden" name="image-type")
                        .fluid.field
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                    type='text',
                                    name='name',
                                    placeholder='Add workspace name',
                                    value.bind="name & validate"
                                )
                            .ui.divider
                        .big-divider
                        .ui.basic.center.aligned.segment
                            .fluid.field
                                h1.ui.center.aligned.header(ref="uploader")
                                    label.clickable
                                        input.upload-box__file(type="file" name="image" change.delegate="onchange()" ref="imageElement" files.bind="files & validate")
                                        i.circular.blue.ion-image.icon.circular--icon
                                        span(style="margin-left:1em;") Add Image
                                        .upload-box__file-label

                            .big-divider
                            .ui.form
                                .field
                                    textarea(
                                    name='description',
                                    placeholder='Add a description',
                                    value.bind="description & validate"
                                    )
                            .big-divider

                            button.ui.secondary.button(click.delegate="create()")
                                | Get Started