template
    .ui.active.dimmer(if.bind="loading")
        .ui.large.loader

    form.overlay(enctype="multipart/form-data" if.bind="!loading")
        //.overlay-back.overlay-nav(click.delegate="cancel()")
        //    i.ion-ios-arrow-thin-left.icon
        //    span back
        .overlay-close.overlay-nav(click.delegate="cancel()")
            i.ion-ios-close-empty.icon
            span esc

        .ui.container
            .ui.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW WORKSPACE
                        .ui.hidden.divider
                        .ui.hidden.divider
                        input(type="hidden" name="image-name")
                        input(type="hidden" name="image-type")
                        .fluid.field
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                    type='text',
                                    name='name',
                                    placeholder='Add workspace name',
                                    value.bind="workspaceRequest.name",
                                    autocomplete="off"
                                )


                            .ui.divider
                        .ui.error.message(if.bind="constraintViolations")
                            .header Error on workspace name
                            ul.list
                                | ${constraintViolations.getPropertyViolation('name').message}
                        .big-divider
                        .ui.basic.center.aligned.segment
                            .fluid.field
                                h1.ui.center.aligned.header(ref="uploader")
                                    label.clickable
                                        input.upload-box__file(type="file" name="image" change.delegate="onchange()" ref="imageElement" files.bind="files")
                                        i.circular.blue.large.ion-image.icon.circular--icon
                                        span(style="margin-left:1em;")
                                            .ui.basic.primary.button
                                                | Add Icon Image
                                        .upload-box__file-label

                            .big-divider

                            button.ui.secondary.button(click.delegate="create()")
                                | Get Started