template
    .modal-header Create New Project 
    .modal-content
        form(submit.delegate="save()")
            .input-field
                input(type='text'
                    id="${nameId}"
                    value.bind='workspace.name'
                    class="validate"
                    required="required")
                label(for="${nameId}") Name
            .input-field
                textarea(id="${descriptionId}"
                    value.bind='workspace.description'
                    class="materialize-textarea")
                label(for="${descriptionId}") Description
            .form-message.error(if.bind="showError") ${error}
    .modal-footer
        button.waves-effect.btn-flat(type="submit" click.delegate="save()") Create
