template(bindable="blocks", show.bind="visible")
    table.table(
        ref='blockTable',
        height="400px",
        width="${style.width}"
        style="color:#999999; background-color:#202122"
    )

