template
    .ui.hidden.divider
    .ui.hidden.divider
    template(if.bind="providers.length == 0 && !addingProvider && !addingCredential")
        h2.ui.center.aligned.icon.header
            i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
            |   You should add at least one cloud
        .ui.vertical.center.aligned.segment
            .ui.container
                .ui.hidden.divider
                .ui.primary.button(click.delegate="addCloud()")
                    | + Add New Cloud
                .ui.hidden.divider
                .ui.small.images
                    img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    img(src='styles/themes/hasli/assets/images/logos/vmware-logo.png')

    .ui.container(if.bind="addingProvider")
        .ui.segment.form
            img.ui.image.small.middle.aligned(src="${provider.icon}" alt="${provider.name}")
            .ui.hidden.divider
            .ui.field
                label Cloud Name
                input(type="text" value.bind="provider.name")
            .ui.field
                label Cloud Description
                textarea(value.bind="provider.description")
            .ui.field
                label Region
                .ui.fluid.search.selection.dropdown(ref="region")
                    input(type="hidden" value.bind="provider.awsRegion")
                    i.dropdown.icon
                    .default.text Select Region
                    .menu
                        .item(repeat.for="region of regions", data-value="${region.name}")
                            | ${region.region} (${region.name})
            .field.clearfix
                button.ui.pull-right.button.primary(
                type="submit",
                click.delegate="saveProvider()"
                )
                    | Save Provider


    .ui.container(if.bind="addingCredential")
        .ui.segment.form
            img.ui.image.small.middle.aligned(src="${provider.icon}" alt="${provider.name}")
            .ui.hidden.divider
            .ui.field
                label Credential Name
                    input(type="text", value.bind="credential.name")
            .ui.field
                label Credential
                input(type="text", value.bind="credential.credential & validate")
            .ui.field
                label Secret
                input(type="text", value.bind="credential.secret")
            .field.clearfix
                button.ui.pull-right.button.primary(
                type="submit",
                click.delegate="saveCredential()"
                )
                    | Save Credential


    .ui.container(if.bind="providers.length > 0 && !addingProvider && !addingCredential")
        .ui.basic.segment
            h2.ui.header
                i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
                .content
                    |   Default Clouds
        .ui.hidden.divider
        .ui.basic.segment
            .overview-widget
                .widget-action-menu
                    span.widget-icons
                        .ui.small.button.primary(click.delegate="addCloud()") + Create New
                table.ui.very.basic.table.widget-table
                    thead
                        tr
                            th
                                //logo
                            th Name
                            th.right.aligned
                                i.big.blue.ion-ios-loop-strong.icon(
                                class="${loading ? 'loading' : ''}"
                                click.delegate="refresh()"
                                )
                                //settings
                    tbody
                        tr(if.bind="loading")
                            td.widget-table-reloading(colspan='3')
                                .ui.active.inverted.dimmer
                                    .ui.large.text.loader Reloading ...
                        tr(
                        if.bind="providers.length > 0 && !loading",
                        repeat.for='cloud of providers'
                        )
                            td
                                img.ui.image.tiny(if.bind="cloud.icon", src="${cloud.icon}")
                            td
                                | ${cloud.name}
                            td.right.aligned
                                i.icon.large.setting.clickable(click.delegate="addCredential(cloud)")
