template
    .ui.grid.palette(ref="element")
        .item(
            repeat.for="action of actions"
            data-tooltip="${action.name}"
            data-position="bottom right"
            data-inverted=""
            data-variation="basic"
        )
            img(src="${action.icon}" width="16px" height="16px")
        //.item(
        //    click.delegate="createNode()",
        //    draggable="true",
        //    dragend.delegate="createNode($event)"
        //)
        //    i.large.square.icon
        //.item(click.delegate="groupElements()")
        //    i.large.icon.object.group
        //.item
        //    i.large.icon.object.ungroup
        //
        //.item
        //    i.large.icon.lock
        //.item
        //    i.large.icon.unlock
        //.item
        //    i.large.icon.clone
        //.item
        //    i.large.icon.server
