template(bindable="router")
    require(from="common/elements/profile-dropdown")
    .ui.secondary.menu
        .ui.image.small
            img.item.header(src="styles/themes/hasli/assets/images/logos/hasli-logo.svg")
        .right.menu
            a.item
                i.large.grey.grid.layout.icon
                .ui.popup.transition.hidden(style="top: 554px; left: 1px; bottom: auto; right: auto; width: 400px;")
                    h4.ui.grey.center.aligned.header GLOBAL SETTINGS
                    .ui.hidden.divider
                    .ui.labeled.icon.fluid.three.item.menu
                        template(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}")
                            a.item(if.bind="$even", href.bind='row.href')
                                i(class="${row.settings.icon}")
                                | ${row.title}
                    .ui.labeled.icon.fluid.three.item.menu
                        template(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}", href.bind='row.href')
                            a.item(if.bind="$odd", href.bind='row.href')
                                i(class="${row.settings.icon}")
                                | ${row.title}
            img.item(src="styles/themes/hasli/assets/images/icons/pulse.svg")
            img.item(src="styles/themes/hasli/assets/images/icons/alert.svg")
            profile-dropdown.item