//
   Created by dustinlish on 3/2/17.
template
    // checkbox
    td.right.aligned
        .ui.child.green.checkbox
            input(name='child', type='checkbox')
            label
    // name
    td
        .ui.link.items
            .item(click.delegate="openEnvironment()")
                .ui.middle.aligned.mini.image
                    img(src="${model.icon}")
                .content
                    | ${model.name}
    // location
    td
        | ${model.location.}
    // account
    td
        .status-circle.green
        | ${model.account}
    // hosts
    td
        | ${model.hosts}
    // vms
    td
        | ${model.vms}
    // bare metal
    td
        |   ${model.bareMetal}
    // owner
    td
        | ${model.owner.firstname} ${model.owner.lastname}
    td.right.aligned
        i.link.ion-ios-gear-outline.big.blue.icon(click.delegate="configure(provider.id)")