//
   Created by dustinlish on 2/27/17.
template
    .ui.fluid.container
        .ui.hidden.divider
        .ui.grid
            .ui.three.wide.column
                .ui.basic.segment.catalog--sidebar
                    .ui.secondary.vertical.menu
                        .item
                            .header.catalog--category_header
                                | Categories
                        .item
                            .header.catalog--category_header
                                | Applications
                            .menu
                                a.item.catalog--category_item(repeat.for='row of router.navigation',
                                        class="${row.isActive ? 'active' : ''}",
                                        href.bind='row.href',
                                        if.bind="row.settings.category == 'Applications'")
                                    | ${row.title}
                        .item
                            .header.catalog--category_header
                                | Services
                            .menu
                                a.item.catalog--category_item(repeat.for='row of router.navigation',
                                        class="${row.isActive ? 'active' : ''}",
                                        href.bind='row.href',
                                        if.bind="row.settings.category == 'Services'")
                                    | ${row.title}
                        .item
                            .header.catalog--category_header
                                | Infrastructure
                            .menu
                                a.item.catalog--category_item(repeat.for='row of router.navigation',
                                        class="${row.isActive ? 'active' : ''}",
                                        href.bind='row.href',
                                        if.bind="row.settings.category == 'Infrastructure'")
                                    | ${row.title}
            .ui.twelve.wide.column
                .ui.text.menu
                    a.item
                        i.big.ion-android-apps.icon
                        .content
                            .header Applications (0)
                    a.item
                        i.big.ion-social-buffer.icon
                        .content
                            .header Services (0)
                    a.item
                        i.big.ion-laptop.icon
                        .content
                            .header Infrastructure (0)
                    .right.menu
                        .item
                            .ui.primary.button
                                | Deploy
                .ui.hidden.divider
                .ui.two.column.grid
                    .column
                        .ui.icon.fluid.input
                            input.prompt(type='text', placeholder='Search...')
                            i.search.icon
                    .column
                        .ui.selection.dropdown
                            input(type='hidden', name='Filter')
                            i.dropdown.icon
                            .default.text Filter
                            .menu
                                .item(data-value='1') Most Popular
                                .item(data-value='0') Recently Added
                .ui.hidden.divider
                .ui.hidden.divider
                router-view
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
