
template(bindable="router")
    .page.header.transition
        .ui.hidden.divider
        .ui.container
            .ui.small.secondary.pointing.inverted.menu
                template(repeat.for='row of router.navigation')
                    a.item(if.bind='!row.settings.parent && !row.settings.child', class="${row.isActive ? 'active' : ''}", href.bind='row.href', style='margin: 0 0 -4px')
                        .text ${row.title}
                    .item(if.bind='row.settings.parent', class="${row.isActive ? 'active' : ''}", href.bind='row.href', style='margin: 0 0 -4px')
                        .ui.dropdown(if.bind='row.settings.parent', style='color: #636876;')
                            .text ${row.title}
                            i.dropdown.icon
                            .menu
                                a.item(repeat.for='child of row.settings.childRoutes', class="${row.isActive ? 'active' : ''}", href.bind='child.href', style='margin: 0 0 -4px')
                                    | ${child.title}
    router-view
