//
   Created by dustinlish on 2/20/17.
template
    .ui.hidden.divider
    .ui.grid
        .four.wide.column
            .ui.grid
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Details
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Requirements
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown(ref="requirementDD")
                                        i.big.ion-ios-plus-empty.green.link.icon
                                        .menu
                                            .item(click.delegate="openPopup('deployer')")
                                                | Deployer
                                            .item(click.delegate="openNodeTemplate()")
                                                | Node Template
                                            .item(click.delegate="openPopup('applications')")
                                                | Applications
                                            .item(click.delegate="openPopup('operatingSystem')")
                                                | Operating System
                                            .item(click.delegate="openPopup('service')")
                                                | Service
                                            .item(click.delegate="openPopup('instances')")
                                                | Instances

                            .segment-header_divider
                            .ui.horizontal.list.pills
                                .item.closeable(if.bind="deployer && deployer != ''")
                                    .ui.basic.primary.button(
                                        title="Edit Deployer"
                                        click.delegate="openPopup('deployer')"
                                    )
                                        | ${deployer}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove Deployer"
                                            click.delegate="clearDeployer()"
                                        )
                                .item.closeable(if.bind="os && os != ''")
                                    .ui.basic.primary.button(
                                        title="Edit OS"
                                        click.delegate="openPopup('operatingSystem')"
                                    )
                                        | ${os}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove OS"
                                            click.delegate="clearOS()"
                                        )
                                .item.closeable(if.bind="applicationRevision.template")
                                    .ui.basic.primary.button(
                                        title="Edit Node Template"
                                        click.delegate="openNodeTemplate()"
                                    )
                                        | ${applicationRevision.template.name}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove Node Template"
                                            click.delegate="clearNodeTemplate()"
                                        )
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Contributors
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
        .twelve.wide.column
            .ui.segment(style="position:relative; min-height:150px;")
                h1.ui.header(if.bind="!loadingSummary") Readme
                div(ref="summary")
                .ui.inverted.active.dimmer(if.bind="loadingSummary", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
                    .ui.text.loader Loading Readme ...



    .ui.long.modal(ref="requirementPopup")
        template(if.bind="popupState == 'deployer'")
            .header Select Deployer
            .content
                .ui.link.centered.four.cards
                    .card(click.delegate="selectDeployer('HFS')")
                        .image
                            img(src="styles/themes/hasli/assets/images/logos/hasli-icon.svg")
                    .card(click.delegate="selectDeployer('Docker')")
                        .image
                            img(src="styles/themes/hasli/assets/images/logos/docker-icon.svg")
        template(if.bind="popupState == 'applications'")
            .header Applications
            .content
                .ui.link.centered.four.cards
                    .card(repeat.for="application of applications" click.delegate="selectApplication(application)")
                        //.image
                        .content ${application.name}
        template(if.bind="popupState == 'operatingSystem'")
            .header Operating System
            .content
                .ui.link.centered.four.cards
                    .card(repeat.for="os of osService.list()" click.delegate="selectOS(os.name)")
                        .content
                            img.ui.huge.avatar.image(src="${os.icon}")
                            | ${os.name}
        template(if.bind="popupState == 'service'")
            .header Service
            .content
                .ui.form.overlay-form
                    .field
                        textarea
                    button.ui.button.primary.pull-right(click.delegate="saveService()") Save
        template(if.bind="popupState == 'instances'")
            .header Instances
            .content
                .ui.link.centered.four.cards
                    .card(repeat.for="instance of instances" click.delegate="selectInstance(instance)")
                        //.image
                        .content ${instance.name}