//
   Created by dustinlish on 2/20/17.
template
    .ui.hidden.divider
    .ui.grid
        .four.wide.column
            .ui.grid
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Details
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list.pills
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Requirements
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown(ref="requirementDD")
                                        i.big.ion-ios-plus-empty.green.link.icon
                                        .menu
                                            .item(click.delegate="openDeployer()")
                                                | Deployer
                                            .item(click.delegate="openNodeTemplate()")
                                                | Node Template
                                            .item(click.delegate="openPopup('applications')")
                                                | Applications
                                            .item(click.delegate="openOperatingSystem()")
                                                | Operating System
                                            .item(click.delegate="openPopup('service')")
                                                | Service
                                            .item(click.delegate="openPopup('instances')")
                                                | Instances

                            .segment-header_divider

                            .ui.horizontal.list.pills
                                .item.closeable(repeat.for="requirement of applicationRevision.requirements")
                                    .ui.basic.primary.button(
                                        title="Edit"
                                        click.delegate="openDialog(requirement)"
                                    )
                                        | ${requirement.name}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove"
                                            click.delegate="clearRequirement(requirement)"
                                        )
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Contributors
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list.pills
        .twelve.wide.column
            .ui.segment(style="position:relative; min-height:150px;")
                h1.ui.header(if.bind="!loadingSummary") Readme
                div(ref="summary")
                .ui.inverted.active.dimmer(if.bind="loadingSummary", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
                    .ui.text.loader Loading Readme ...



    .ui.long.modal(ref="requirementPopup")
        template(if.bind="popupState == 'applications'")
            .header Applications
            .content
                .ui.link.centered.four.cards
                    .card(repeat.for="application of applications" click.delegate="selectApplication(application)")
                        //.image
                        .content ${application.name}
        template(if.bind="popupState == 'service'")
            .header Service
            .content
                .ui.form.overlay-form
                    .field
                        textarea
                    button.ui.button.primary.pull-right(click.delegate="saveService()") Save
        template(if.bind="popupState == 'instances'")
            .header Instances
            .content
                .ui.link.centered.four.cards
                    .card(repeat.for="instance of instances" click.delegate="selectInstance(instance)")
                        //.image
                        .content ${instance.name}