template
    .item(ref="element")
        h4.ui.header Applications
        .ui.divided.items(
            repeat.for="descriptor of elements",
            draggable="true",
            dragend.delegate="addImage(descriptor.pid)"
        ).item.flex
                .ui.mini.image
                    img(src='/hasli/api/v1/storage/s3/images/${descriptor.logo_url.large}')
                .middle.aligned.content
                    | ${descriptor.name}
