//
   Created by dustinlish on 2/20/17.

template
    .ui.hidden.divider
    //.ui.container
    //    .ui.segment
    //        .ui.secondary.pointing.menu
    //            a.item(
    //            repeat.for='row of router.navigation',
    //            class="${row.isActive ? 'active' : ''}"
    //            href.bind='row.href'
    //            )
    //                | ${row.title}
    //            .right.menu
    //                a.item
    //                    .ui.primary.basic.button()
    //                        | Build
    //        .segment-header_divider.segment-header_menu
    //        router-view
    .ui.internally.celled.equal.height.grid.full-screen
        .ui.three.wide.column
            .ui.secondary.vertical.menu.vertical-menu_no-divider
                a.item(
                repeat.for='row of router.navigation',
                class="${row.isActive ? 'active' : ''}"
                href.bind='row.href'
                )
                    | ${row.title}
            .ui.primary.basic.button
                | Build
        .ui.twelve.wide.column
            router-view
    .ui.hidden.divider
