//
   Created by dustinlish on 2/20/17.

template
    .ui.hidden.divider
    .ui.container
        .ui.segment
            .ui.secondary.pointing.menu
                a.item(
                repeat.for='row of router.navigation',
                class="${row.isActive ? 'active' : ''}"
                href.bind='row.href'
                )
                    | ${row.title}
            .segment-header_divider.segment-header_menu
            router-view
        .ui.segment
            .ui.text.menu
                .item
                    h4.ui.header
                        | All Files
                .right.menu
                    a.item
                        .content + CREATE NEW DIRECTORY
                    a.item
                        .content + CREATE NEW FILE
                    a.item
                        i.big.ion-ios-gear-outline.icon
            .segment-header_divider
            table.ui.very.basic.files.single.line.unstackable.selectable.table
                tbody
                    tr
                        td
                            i.blue.ion-ios-folder-outline.icon.file-icons_small
                            a(href='#')
                                | src
                        td Clean up logic in onComplete
                        td.right.aligned 5 days ago
                    tr
                        td
                            i.blue.ion-ios-folder-outline.icon.file-icons_small
                            a(href='#')
                                | docs
                        td Initial commit
                        td.right.aligned 5 days ago
                    tr
                        td
                            i.blue.ion-ios-folder-outline.icon.file-icons_small
                            a(href='#')
                                | tasks
                        td Updated browser prefix config
                        td.right.aligned 5 days ago
                    tr
                        td
                            i.blue.ion-ios-folder-outline.icon.file-icons_small
                            a(href='#')
                                | test
                        td  Restructure test/ for meteor #1607
                        td.right.aligned 10 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | README.md
                        td Update README.md
                        td.right.aligned 7 days ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | bower.json
                        td main: semantic.css => semantic.less
                        td.right.aligned 3 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | composer.json
                        td #1853 Fix some composer.json fields
                        td.right.aligned 5 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | gulpfile.js
                        td Update gulpfile
                        td.right.aligned 4 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | karma.conf.js
                        td Remove execute permission.
                        td.right.aligned 8 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | logo.png
                        td Remove execute permission.
                        td.right.aligned 8 months ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | package.json
                        td Build 2.0.7
                        td.right.aligned 5 days ago
                    tr
                        td
                            i.grey.file.outline.icon
                            a(href='#')
                                | semantic.json.example
                        td Fix admin flag set in example json! #2453
                        td.right.aligned 28 days ago
        .ui.segment
            .ui.text.menu
                .item
                    h4.ui.header
                        | Dockerfile
                .right.menu
                    a.item
                        i.big.ion-ios-compose-outline.icon
            .segment-header_divider
            pre
                | FROM buildpack-deps:wheezy
                |
                | RUN groupadd --gid 1000 node \
                |   && useradd --uid 1000 --gid node --shell /bin/bash --create-home node
                |
                | # gpg keys listed at https://github.com/nodejs/node
                | RUN set -ex \
                |   && for key in \
                |     9554F04D7259F04124DE6B476D5A82AC7E37093B \
                |     94AE36675C464D64BAFA68DD7434390BDBE9B9C5 \
                |     0034A06D9D9B0064CE8ADF6BF1747F4AD2306D93 \
                |     FD3A5288F042B6850C66B31F09FE44734EB7990E \
                |     71DCFD284A79C3B38668286BC97EC7A07EDE3FC1 \
                |     DD8F2338BAE7501E3DD5AC78C273792F7D83545D \
                |     B9AE9905FFD7803F25714661B63B535A4C206CA9 \
                |     C4F0DFFF4E8C1A8236409D08E73BC641CC11F4C8 \
                |   ; do \
                |     gpg --keyserver ha.pool.sks-keyservers.net --recv-keys "$key"; \
                |   done
                |
                | ENV NPM_CONFIG_LOGLEVEL info
                | ENV NODE_VERSION 4.7.3
                |
                | RUN curl -SLO "https://nodejs.org/dist/v$NODE_VERSION/node-v$NODE_VERSION-linux-x64.tar.xz" \
                |   && curl -SLO "https://nodejs.org/dist/v$NODE_VERSION/SHASUMS256.txt.asc" \
                |   && gpg --batch --decrypt --output SHASUMS256.txt SHASUMS256.txt.asc \
                |   && grep " node-v$NODE_VERSION-linux-x64.tar.xz\$" SHASUMS256.txt | sha256sum -c - \
                |   && tar -xJf "node-v$NODE_VERSION-linux-x64.tar.xz" -C /usr/local --strip-components=1 \
                |   && rm "node-v$NODE_VERSION-linux-x64.tar.xz" SHASUMS256.txt.asc SHASUMS256.txt \
                |   && ln -s /usr/local/bin/node /usr/local/bin/nodejs
                |
                | CMD [ "node" ]
                |
                | # Expose Ports.
                | EXPOSE {{http}}

    .ui.hidden.divider
