//
   Created by dustinlish on 2/20/17.

template
    .ui.hidden.divider
    .ui.internally.celled.equal.height.grid.full-screen
        .ui.three.wide.column
            .ui.secondary.vertical.menu.vertical-menu_no-divider
                a.item(
                repeat.for='row of router.navigation',
                class="${row.isActive ? 'active' : ''}"
                href.bind='row.href'
                )
                    | ${row.title}
            .ui.primary.basic.button(style="bottom: 0 !important;")
                | Build
        .ui.twelve.wide.column
            router-view
    .ui.hidden.divider
