template
    a(
        class="dropdown-button"
        href="#"
        data-hover="true"
        data-beloworigin="true"
        data-activates="${controlId}"
        data-constrainwidth="false"
        ref="profileDD")
        i.material-icons.mdi.mdi-account-circle
        i.material-icons.mdi.mdi-menu-down
    ul(id="${controlId}" class="dropdown-content")
        li
            i.material-icons.mdi.mdi-account-circle
            | ${user.username}
        li.divider
        li(click.delegate="openSettings()")
            i.material-icons.mdi.mdi-account-settings-variant
            | Account Settings
        li(click.delegate="incompleteFeature.notify($event)")
            i.material-icons.mdi.mdi-help-circle
            | Help
        li.divider
        li(click.delegate="logout()")
            i.material-icons.mdi.mdi-logout-variant
            | Sign Out


    //.ui.inline.pointing.dropdown.top.right
    //    i.large.inverted.ion-person.icon
    //    i.inverted.dropdown.icon
    //    .menu
    //        .item.disabled
    //            i.large.ion-image.icon
    //            | ${user.username}
    //        .divider
    //        .item(click.delegate="openSettings()")
    //            i.ion-ios-settings-strong.icon
    //            | Account Settings
    //        .item(click.delegate="incompleteFeature.notify($event)")
    //            i.ion-help.icon
    //            | Help
    //        .divider
    //        .item(click.delegate="logout()")
    //            i.ion-log-out.icon
    //            | Sign out


