template
    .ui.one.column.center.aligned.grid(style="margin-top:25px")
        .column.ten.wide
            .center.aligned.ui.message
                    .header
                        | Welcome to Hasli Meteorology!
                    p
                        | Meteorology has not been configured yet.  Let's take a moment to do that!

            .ui.hidden.divider
            .center.aligned.ui.message
                .header
                    | General information
                p
                    | Just a few questions about your installation
            .ui.small.form

                .field
                    label.pull-left Installation Name
                    input(
                        type='text',
                        placeholder='Installation Name',
                        value.bind='application.name'
                    )

                .field
                    label.pull-left Installation Location (e.g. meteorology.hasli.io)
                    input(
                        type='text',
                        placeholder='Installation Name',
                        value.bind='application.location'
                    )

            .ui.hidden.divider
            .center.aligned.ui.message
                .header
                    | Administrative users
                p
                    | We need at least one administrative user.  These users will have access to all
                    | non-encrypted data within the system.  These users may be changed at any time.
                    | administrative users may change aspects of Meteorology, but they cannot see non-public user's data
                    | We recommend keeping as few administrators as possible, for security reasons.

            div(repeat.for="administrator of application.administrators")
                .h3 ${current.username || 'Username'}
                .div.ui.small.form(style="margin-bottom:10px;")
                    .field
                        label.pull-left Username
                    input(
                        type='text',
                        placeholder='Username',
                        value.bind='current.username'
                    )

                    .field
                        label.pull-left First Name
                    input(
                        type='text',
                        placeholder='First Name',
                        value.bind='current.firstname'
                    )
                    .field
                        label.pull-left Last Name
                    input(
                        type='text',
                        placeholder='Last Name',
                        value.bind='current.lastname'
                    )

                    .field
                        label.pull-left E-Mail
                    input(
                        type='text',
                        placeholder='E-Mail',
                        value.bind='current.emailAddress'
                    )

                    .field
                        label.pull-left Password
                    input(
                        type='password',
                        placeholder='Password',
                        value.bind='current.password'
                    )

            .five.wide.field
                input.ui.button.large.fluid.green(
                    type='button',
                    value='add',
                    click.delegate="addUser()")
                input.ui.button.large.fluid.blue(
                    type='button',
                    value='Ok!',
                    show.bind="current"
                    click.delegate="submit()"
                )
