template
    .activity-segment(
        repeat.for="period of activityManager.periods()"
        class="${period.active ? 'active' : ''}")
        .header(click.delegate='period.active = !period.active')
            span ${period.name}
        .activity-entry(repeat.for="entry of period.activities")
            .header ${entry.name}
            .content
                .image
                    img(
                        src.bind='entry.image'
                        alt.bind='entry.description'
                        )
                .information
                    | ${entry.description}
                .metrics
                    .column(
                        repeat.for="detail of entry.details"
                        class.bind="detail.style"
                        )
                        .header ${detail.name}
                        .value
                            i.icon.checkmark(if.bind="detail.style.indexOf('success') != -1")
                            i.icon.remove(if.bind="detail.style.indexOf('fail') != -1")
                            | ${detail.value}
                a.more(href.bind='entry.href') details




    //.activity-segment
    //    .header
    //        span January 2017
    //.activity-segment.active
    //    .header
    //        span December 2016
    //    //.activity-entry
    //    //    .header Dec. 25th, 12:00pm
    //    //    .content
    //    //        .image
    //    //        .information Something about green and AWS
    //    //        .metrics
    //    //            .column.status
    //    //                .header Status
    //    //                .value
    //    //                    i.checkmark.icon
    //    //                    | Success
    //    //            .column
    //    //                .header VMs
    //    //                .value 1
    //    //            .column
    //    //                .header Apps
    //    //                .value 3
    //    //    a.more details
    //    //.activity-entry
    //    //    .header Dec. 9th, 7:00pm
    //    //    .content
    //    //        .image
    //    //        .information Dustin added something
    //    //            .extra something something
    //    //        .metrics
    //    //            .column
    //    //                .header Files Added
    //    //                .value 0
    //    //            .column
    //    //                .header Files Modified
    //    //                .value 1
    //    //            .column
    //    //                .header Commit
    //    //                .value 3061488
    //
    //        a.more details
    //
    //.activity-segment
    //    .header
    //        span November 2016