template
    template(if.bind="mode === 'partial'")
        .ui.hidden.divider
        .ui.container
            .ui.items
                .item
                    .ui.workspace-image.image
                        img(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                    .middle.aligned.content
                        a.header CA Demo
                        .extra
                            | Last Updated: February 11th, 2017
            .ui.secondary.pointing.menu
                a.item(
                    repeat.for='row of router.navigation',
                    class="${row.isActive ? 'active' : ''}"
                    href.bind='row.href'
                )
                    | ${row.title}
    .ui.fluid.container.workspace--content-view.au-animate
        .ui.fitted.divider
        router-view
