//
   Created by dustinlish on 2/6/17.
template
    require(from="apps/workspaces/routes/workspace/applications/resources/application-row")
    //compose(if.bind="showModal", view-model='./create/wizard')

    .ui.hidden.divider

    compose(show.bind="showModal", view-model='./create/app-details')

    .ui.container
        .ui.basic.segment
            h2.ui.header
                i.circular.orange.ion-ios-keypad-outline.icon.circular--icon.circular--icon_orange
                .content
                    |   Applications
        .ui.hidden.divider
        .ui.basic.segment
            .ui.grid
                .four.wide.column
                    .ui.small.icon.fluid.input
                        input(type='text', placeholder='Search')
                        i.search.icon
                .eight.wide.column
                    .ui.hasli--basic_blue.hasli--blue.selection.dropdown
                        | Actions
                        i.dropdown.icon
                        .menu
                            .item
                                i.ion-ios-copy.large.grey.icon
                                | Clone
                            .item
                                i.ion-arrow-right-a.large.grey.icon
                                | Deploy
                            .item
                                i.ion-trash-a.large.grey.icon
                                | Delete
                    .ui.hasli--basic_blue.hasli--blue.selection.dropdown
                        input(type='hidden', name='type')
                        .default.text.hasli--blue Select: Type
                        i.dropdown.icon
                        .menu
                            .item(data-value="1") All
                            .item(data-value="2") Docker
                            .item(data-value="3") Docker Compose
                .four.wide.right.aligned.column
                    span.widget-icons
                        .ui.small.button.primary(click.delegate="create()") + Create New
                table.ui.very.basic.very.padded.selectable.table
                    thead
                        tr
                            th.right.aligned
                                .ui.master.checkbox
                                    input(type='checkbox', name='master')
                                    label
                            th Name
                            th Version
                            th Status
                            th Instances
                            th Containers
                            th Modified
                            th Owner
                            th.right.aligned
                                i.link.big.blue.ion-ios-loop-strong.icon(
                                class="${loading ? 'loading' : ''}"
                                click.delegate="refresh()"
                                )
                    tbody
                        tr(if.bind="loading")
                            td.widget-table-reloading(colspan='10')
                                .ui.active.inverted.dimmer
                                    .ui.huge.loader
                        tr(if.bind="(!applications || applications.length == 0) && !loading")
                            td.widget-table-reloading(colspan='10')
                                .ui.hidden.divider
                                h2.ui.center.aligned.icon.header
                                    |   Looks like you don't have any applications, create a new application or browse existing ones!
                                h4.ui.center.aligned.grey.header
                                    |   You'll need to add a cloud provider before deploying any applications
                                .ui.basic.center.aligned.segment
                                    .ui.secondary.button(click.delegate="create()")
                                        | Create Application
                                    .ui.hidden.divider
                        tr(
                            show.bind="applications.length > 0 && !loading",
                            as-element="application-row",
                            repeat.for='application of applications',
                            application.bind="application"
                        )

