template
    .ui.grid.palette(ref="element")
        .item.web-component(
            repeat.for="component of elements"
            data-tooltip="${component.name}"
            data-position="bottom right"
            data-inverted=""
            data-variation="basic"
            id = "${component.id}"
        )
            img(src="${component.icon}" width="16px" height="16px")
