//
   Created by dustinlish on 2/21/17.
template
    .ui.basic.segment
        .ui.grid
            .row
                .eight.wide.column
                    h4.ui.header
                        | Name
                .eight.wide.column
                    h4.ui.header
                        | Registry
            .four.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="nodejs")
                    .ui.fitted.divider
                .four.wide.column
                    .ui.small.basic.primary.button
                        | Save
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="0.0.0.0:5000")
                    .ui.fitted.divider
                .four.wide.column
                    .ui.small.basic.primary.button
                        | Save
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .ui.hidden.divider
            .row
                .fourteen.wide.column
                    h4.ui.header
                        | Environment Variables
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" value="PATH")
                    .ui.fitted.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" value="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/nodejs/bin")
                    .ui.fitted.divider
                .one.wide.column
                    i.ui.ion-ios-close-outline.big.red.icon
            .three.column.row
                .four.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="key")
                    .ui.divider
                .ten.wide.column
                    .ui.transparent.input
                        input(type="text" placeholder="value")
                    .ui.divider
                .one.wide.column
                    i.ui.ion-ios-plus-outline.big.green.icon
            .three.column.row
                .ui.container(if.bind="providers.length > 0")
                    .ui.basic.segment
                        h2.ui.header
                            i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
                            .content
                                |   Clouds
                    .ui.hidden.divider
                    .ui.basic.segment
                        .overview-widget
                            .widget-action-menu
                                .ui.small.icon.input
                                    input(type='text', placeholder='Search')
                                    i.search.icon
                                .ui.small.basic.button.primary
                                    | Actions
                                    i.dropdown.icon
                                .ui.small.basic.button.primary
                                    | Select: Type
                                    i.dropdown.icon
                                span.widget-icons
                                    .ui.small.button.primary(click.delegate="addCloud()") + Create New
                            table.ui.very.basic.table.widget-table
                                thead
                                    tr
                                        th
                                            //checkbox
                                        th
                                            //logo
                                        th Name
                                        th Status
                                        th IP
                                        th Deploy
                                        th.right.aligned
                                            i.big.blue.ion-ios-loop-strong.icon(
                                            class="${loading ? 'loading' : ''}"
                                            click.delegate="refresh()"
                                            )
                                            //settings
                                tbody
                                    tr(if.bind="loading")
                                        td.widget-table-reloading(colspan='10')
                                            .ui.active.inverted.dimmer
                                                .ui.large.text.loader Reloading ...
                                    tr(if.bind="providers.length == 0 && !loading")
                                        td.widget-table-empty-alert(colspan='10') You have no clouds
                                    tr(
                                    if.bind="providers.length > 0 && !loading",
                                    repeat.for='cloud of providers'
                                    )
                                        td
                                            input(type="checkbox")
                                        td
                                            img.ui.image.tiny(if.bind="cloud.logo", src="${cloud.logo}")
                                        td
                                            | ${cloud.name}
                                        td
                                            //TODO circle
                                            i.icon.status-circle.circle.green
                                            | ${cloud.status}
                                        td
                                            | ${cloud.ip}
                                        td(click.delegate="deploy(cloud.id)")
                                            | Deploy
                                        td
                                            i.icon.setting.clickable(click.delegate="configure(cloud.id)")



    //.ui.grid
    //    .four.wide.column
    //        .ui.grid
    //            .row
    //                .column
    //                    .ui.segment
    //            .row
    //                .column
    //                    .ui.segment
    //                        .ui.fluid.transparent.small.input
    //                            input(type='text', placeholder='Add application name')
    //                        .ui.divider
    //            .row
    //                .column
    //                    .ui.segment
    //
    //    .twelve.wide.column
    //        .ui.segment
