template
    div.summary-icon(style="width:${size}px; height:${size}px;")
        svg(
            width='100%',
            height='100%',
            version='1.1',
            xmlns='http://www.w3.org/2000/svg'
        )
            defs
            rect(
                width="${computeWidth()}"
                height="${computeHeight()}"
                stroke="${stroke}"
                fill="${fill}"
                transform="rotate(45 ${computeWidth() / 2} ${computeHeight() / 2})"
                rx="${size/10}"
                ry="${size/10}"
                x="${size / 5}"
                y="0"
            )

            //path#Combined-Shape(
            //    stroke='${stroke}'
            //    fill='none'
            //    fill-rule='evenodd'
            //    d='M13.2014134 1.35191338C14.6869704-.117569448 17.1017754-.111395688 18.581091 1.35191338L30.4163818 13.0591431C31.9019388 14.5286259 31.8956975 16.9173021 30.4163818 18.3806111L18.581091 30.0878408C17.0955341 31.5573237 14.6807291 31.5511499 13.2014134 30.0878408L1.36612264 18.3806111C-.119434317 16.9111283-.113193025 14.5224522 1.36612264 13.0591431L13.2014134 1.35191338Z'
            //)
            text(
                x="50%"
                y="${50 + size/25}%"
                stroke="${textColor}"
                alignment-baseline="middle"
                text-anchor="middle"
                font-size="${size/3}"
            ) ${summary()}

