template
    .ui.internally.celled.fluid.grid
        .row.draftboard--row
            .sixteen.wide.centered.column.draftboard--column
                menu(
                    context-factory.bind="child"
                    view-model.ref="menu"
                    classes="ui mini secondary menu"
                    style="height:100%; padding-left:304px !important; margin-right:304px !important;"
                    items.bind="menus"
                )
                //.ui.mini.secondary.menu(ref="menu" )
                //    a.item(repeat.for="menu of child.menus")
                //        i(class="${menu.style} icon")
                //        | ${menu.name}
                //    .right.compact.mini.menu
                //        a.item
                //            i.search.icon
                //            | Browse Templates
                //        a.item.no--padding(type='button', click.trigger='toggleLeft()')
                //            .ui.image
                //                img(src='styles/themes/hasli/assets/images/icons/toggle-left-menu-icon.svg')
                //        a.item.no--padding(type='button', click.trigger='toggleRight()')
                //            .ui.image
                //                img(src='styles/themes/hasli/assets/images/icons/toggle-right-menu-icon.svg')
        .row
            .column
    .workbench-container
        router-view
