template
    .ui.internally.celled.fluid.grid
        .row.draftboard--row
            .sixteen.wide.centered.column.draftboard--column
                menu(
                    context-factory.bind="child"
                    view-model.ref="menu"
                    classes="ui mini secondary menu"
                    style="height:100%; padding-left:304px !important; margin-right:304px !important;"
                    items.bind="menus"
                )
        .row
            .column
    .workbench-container
        router-view
