template
    .ui.internally.celled.fluid.grid
        .row(style="height:40px")
            .sixteen.wide.centered.column(style="height:40px; padding:0px;")
                .ui.mini.secondary.menu(ref="menu" style="height:100%; padding-left:304px !important; margin-right:304px !important")
                    a.item(repeat.for="child of router.navigation",
                        href.bind="child.href",
                        class="${child.isActive ? 'active' : ''}"
                    )
                        i(class="${child.settings.icon} ")
                        .text ${child.title}
                    .right.compact.mini.menu
                        a.item
                            i.search.icon
                            | Browse Templates
                        a.item.no--padding(type='button', click.trigger='toggleLeft()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-left-menu-icon.svg')
                        a.item.no--padding(type='button', click.trigger='toggleRight()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-right-menu-icon.svg')
        .row
            .column
    .workbench-container
        router-view
