template
    .overlay(show.bind="visible")
        .ui.container
            .overlay-close
                i.big.grey.icon.ion-close-round(click.delegate="close()")
            h2.ui.center.aligned.grey.header Add Credential to ${provider.name}
            .ui.basic.segment
                h2.ui.header
                    i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
                    .content
                        |   Credentials
            .ui.hidden.divider
            .ui.basic.segment
                .overview-widget
                    .widget-action-menu
                        .ui.small.icon.input
                            input(type='text', placeholder='Search')
                            i.search.icon
                    table.ui.very.basic.table.widget-table
                        thead
                            tr
                                th
                                    //checkbox
                                th
                                    //logo
                                th Name
                                th.right.aligned
                                    i.big.blue.ion-ios-loop-strong.icon(
                                    class="${loading ? 'loading' : ''}"
                                    click.delegate="refresh()"
                                    )
                                    //settings
                        tbody
                            tr(if.bind="loading")
                                td.widget-table-reloading(colspan='10')
                                    .ui.active.inverted.dimmer
                                        .ui.large.text.loader Reloading ...
                            tr(if.bind="credentials.length == 0 && !loading")
                                td.widget-table-empty-alert(colspan='10') You have no credentials
                            tr(
                            if.bind="credentials.length > 0 && !loading",
                            repeat.for='credential of credentials'
                            )
                                td
                                    input(type="checkbox")
                                td
                                    img.ui.image.tiny(if.bind="cloud.logo", src="${cloud.logo}")
                                td
                                    | ${credential.name}

            .ui.form
                .field
                    label Name
                    input(type="text", value.bind="credential.name & validate")

                //.field
                    //label Key
                    //input(type="text", value.bind="credential.key & validate")

                .field
                    label Credential
                    input(type="text", value.bind="credential.credential & validate")
                .field
                    label Secret
                    input(type="text", value.bind="credential.secret & validate")

                .field
                    button.ui.pull-right.button.primary(
                    type="submit",
                    click.delegate="saveCredential()"
                    )
                        | Save Credential
