//
   Created by dustinlish on 2/6/17.
template
    //require(from="./add-cloud")
    //require(from='./add-credential')
    //add-cloud(view-model.ref="addCloudOverlay")
    //add-credential(
    //    view-model.ref="addCredentialOverlay",
    //    model.bind="provider"
    //)
    .ui.hidden.divider
    template(if.bind="providers.length == 0")
        h2.ui.center.aligned.icon.header
            i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
            |   Looks like you haven't added any cloud providers yet
        h4.ui.center.aligned.grey.header
            |   You can add a cloud now or at deploy time
        .ui.vertical.center.aligned.segment
            .ui.container
                .ui.hidden.divider
                .ui.primary.button(click.delegate="addCloud()")
                    | + Add New Cloud
                .ui.hidden.divider
                .ui.small.images
                    img(src='styles/themes/hasli/assets/images/logos/aws-logo.svg')
                    img(src='styles/themes/hasli/assets/images/logos/vmware-logo.png')

    template(if.bind="providers.length > 0")
        .ui.container
            .ui.basic.segment
                h2.ui.header
                    i.circular.blue.ion-ios-cloud-outline.icon.circular--icon.circular--icon_blue
                    .content
                        |   Clouds
            .ui.hidden.divider
            .ui.basic.segment
                table.ui.very.basic.table
                    thead
                        tr
                            th
                                //checkbox
                            th
                                //logo
                            th Type
                            th Name
                            th Status
                            th Location
                            th Account
                            th.right.aligned
                                i.big.blue.ion-ios-loop-strong.icon(
                                class="${loading ? 'loading' : ''}"
                                click.delegate="refresh()"
                                )
                                //settings
                    tbody
                        tr(if.bind="loading")
                            td.widget-table-reloading(colspan='10')
                                .ui.active.inverted.dimmer
                                    .ui.large.text.loader Reloading ...
                        tr(if.bind="providers.length == 0 && !loading")
                            td.widget-table-empty-alert(colspan='10') You have no clouds
                        tr(
                        if.bind="providers.length > 0 && !loading",
                        repeat.for='cloud of providers'
                        )
                            td
                                input(type="checkbox")
                            td
                                img.ui.image.tiny(if.bind="cloud.logo", src="${cloud.logo}")
                            td
                                | ${cloud.name}
                            td
                                //TODO circle
                                i.icon.status-circle.circle.green
                                | ${cloud.status}
                            td
                                | ${cloud.ip}
                            td
                                | ${cloud.ports}
                            td
                                //TODO graph
                                | ${cloud.cpu}%
                            td
                                //TODO graph
                                | ${cloud.memory}%
                            td
                                //TODO graph
                                | ${cloud.disk}%
                            td
                                i.icon.setting.clickable(click.delegate="configure(cloud.id)")
                //.overview-widget
                //    .widget-action-menu
                //        .ui.small.icon.input
                //            input(type='text', placeholder='Search')
                //            i.search.icon
                //        .ui.small.basic.button.primary
                //            | Actions
                //            i.dropdown.icon
                //        .ui.small.basic.button.primary
                //            | Select: Type
                //            i.dropdown.icon
                //        span.widget-icons
                //            .ui.small.button.primary(click.delegate="addCloud()") + Create New

