template
    div
        div(ref="contentSpace", if.bind="bannerVisible")
        .folio
            .header
                | Workspace
                .menu
                    .item(
                        repeat.for="row of router.navigation"
                    )
                        a(
                            href.bind="row.href",
                            class="${row.isActive ? 'active' : ''}"
                        )
                            img(src="${row.settings.icon}")
                            | ${row.title}
                    .control
                        img(src="assets/sui/themes/hasli/assets/images/icons/plus-circle.svg")
            .body
                router-view
    //folio(pages.bind="pages", header="Workspace")

