template(bindable='node')
    section.content-banner
        ul.breadcrumb
            li
                a(href='#') Network
            li
                a(href='#') ${node.id}
            li
                a(href='#') details
    section.content(style='background-color:#45494A !important')
        .section-header.large
            span.ion-document-text
            | Details ${node.id} (${node.ipAddresses[0]})
        .section-info
            span.info Details
            .info-field
                span IP Addresses:
                div
                    span(repeat.for='ip of node.ipAddresses') ${ip}
            .info-field
                span Address:
                div
                    | ${node.id}
        .section-info
            span.info Groups
            .info-field
                span Groups:
                div
                    span(repeat.for='ip of node.ipAddresses') Routers