template
    .overview-widget
        h2.widget-header Applications
        .widget-action-menu
            .ui.icon.input
                input(type='text', placeholder='Search')
                i.search.icon
            .ui.basic.button.primary
                | Actions
                i.dropdown.icon
            .ui.basic.button.primary
                | Select: Type
                i.dropdown.icon
            span.widget-icons
                .ui.button.primary(
                class="${loading ? 'loading' : ''}"
                click.delegate="refresh()"
                ) Reload
                .ui.button.primary New
        table.ui.very.basic.table.widget-table
            thead
                tr
                    th
                        //checkbox
                    th
                        //logo
                    th Name
                    th Status
                    th IP
                    th Ports
                    th CPU
                    th Memory
                    th Disk
                    th
                        //settings
            tbody
                tr(if.bind="loading")
                    td.widget-table-reloading(colspan='10')
                        .ui.active.inverted.dimmer
                            .ui.large.text.loader Reloading ...
                tr(if.bind="applications.length == 0 && !loading")
                    td.widget-table-empty-alert(colspan='10') You have no applications
                tr(
                if.bind="applications.length > 0 && !loading",
                repeat.for='application of applications'
                )
                    td.center.aligned
                        input(type="checkbox")
                    td
                        img.ui.image.tiny(src="${application.logo}")
                    td
                        | ${application.name}
                    td
                        //TODO circle
                        .status-circle.green
                        | ${application.status}
                    td
                        | ${application.ip}
                    td
                        | ${application.ports}
                    td
                        //TODO graph
                        | ${application.cpu}%
                    td
                        //TODO graph
                        | ${application.memory}%
                    td
                        //TODO graph
                        | ${application.disk}%
                    td
                        i.icon.setting
