template
    .side-nav-context(
        id="${controlId}"
        ref="navigationContainer"
            anim-enter="slideOut"
            anim-leave="slideIn"
        )
        .side-nav-search
            input(type="text" placeholder="Filter")
            i.material-icons.mdi.mdi-filter-outline.side-nav-search-icon
        compose(
            view-model.bind="currentComponent.reference",
            if.bind="opened"
        )

    ul.side-nav-small
        li.side-nav-header
            a(href="#/")
                img(src="dist/icons/hasli-icon.svg", alt="Hasli.io")
        li(
            repeat.for="nav of navigatorManager.router.navigation"
            class="${nav.isActive ? 'active' : ''}"
        )
            a(href.bind="nav.href" click.delegate="open(nav)")
                i.material-icons.mdi(class="${nav.settings.icon}")
        li.side-nav-toggle(
            click.delegate="toggle()"
            ref="navigationControl"
            anim-enter="rotate180"
            anim-leave="rotateNeg180"

        )
            a(href="#")
                i.material-icons.mdi(
                    class="${opened ? 'mdi-chevron-left' : 'mdi-chevron-right'}")