template
    ul(id="${controlId}").side-nav
        li.search
            .search-wrapper.card
                input(type='text')
                span.mdi.mdi-magnify
        li.no-padding(repeat.for="level of currentLevels")
            ul.collapsible.collapsible-accordion
                li
                    a.collapsible-header(click.delegate="level.href()")
                        | ${level.name}
                        //span.mdi.mdi-menu-down //rotate
                    .collapsible-body
                        ul
                            li(repeat.for="child of level.children")
                                | ${child.name}

    a.button-collapse(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
    )
        span.mdi.mdi-menu.mdi-24px
