template
    ul(id="${controlId}").side-nav
        //li.search
        //    .search-wrapper.card
        //        input(type='text')
        //        span.mdi.mdi-magnify
        //todo put in dashboard
        template(repeat.for="level of currentLevels")
            li.no-padding(if.bind="level.children")
                ul.collapsible
                    li
                        a.collapsible-header.waves-effect
                            span.mdi(if.bind="level.icon" class="${level.icon}")
                            | ${level.name}
                            span.mdi.mdi-menu-right.dropdown
                        .collapsible-body
                            ul
                                li(repeat.for="child of level.children")
                                    span.mdi(if.bind="child.icon" class="${child.icon}")
                                    | ${child.name}
            li(if.bind="!level.children")
                a
                    span.mdi(if.bind="level.icon" class="${level.icon}")
                    | ${level.name}

    ul.side-nav-small(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
        )
        li
            span.mdi.mdi-menu
        li(repeat.for="level of currentLevels")
            span.mdi(if.bind="level.icon" class="${level.icon}" title="${level.name}")

