template
    ul(id="${controlId}").side-nav
        li.side-nav-header
            .side-nav-toggle
                span.mdi.mdi-view-quilt
            .side-nav-search
                .mdi.mdi-filter-outline.side-nav-search-icon
                input(type="text" placeholder="Search")

        li.current-context(class="${context.color ? context.color : 'default-color'}")
            a.waves-effect(href="${current.href ? current.href : '/'}")
                summary-icon(stroke="white", text="${context.title}", size="24")
                | ${context.title}
        li.no-padding
            ul.collapsible
                li(repeat.for="group of groups")
                    a.collapsible-header.waves-effect
                        //(click.delegate="context.navigate(nav)")
                        | ${group.name}
                        span.mdi.mdi-chevron-right.dropdown
                    .collapsible-body
                        ul
                            li(repeat.for="element of group.elements")
                                a ${element.title}
        //todo get create check hooked up
        li.create-context
            //(if.bind="create")
            a.btn.waves-effect(href="" class="${context.color ? context.color : 'default-color'}") Create

    ul.side-nav-small
        li.brand-logo(title="Show navigation")
            img(src="dist/icons/hasli-icon.svg", alt="Hasli.io"
            data-activates='${controlId}',
            ref="navigatorControl"
            )
            //span.mdi.mdi-menu
        li
            a(href="${current.href ? current.href : '/'}")
                summary-icon(stroke="${context.color ? context.color : 'default-color'}", text="${context.title}", size="24")