template
    ul(id="${controlId}").side-nav
        li(repeat.for="level of currentLevels")
            a(click.delegate="level.href()")
                i.material-icons ${level.name}
            ul
                li(repeat.for="child of level.children")
                    i.material-icons ${child.name}
        //li
        //    a(href='#!')
        //        i.material-icons Applications
    |
    a.button-collapse(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
    )
        i.material-icons menu