template
    ul(id="${controlId}").side-nav
        li.search
            .search-wrapper.card
                input(type='text')
                span.mdi.mdi-magnify

        li.no-padding(repeat.for="nav of router.navigation")
            a(href.bind="nav.href") ${nav.title}

    ul.side-nav-small(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
    )
        li
            span.mdi.mdi-menu
        li(repeat.for="nav of router.navigation")
            a(href.bind="nav.href") ${nav.title}
            //span.mdi(if.bind="level.icon" class="${level.icon}" title="${level.name}")

