template
    .side-nav-context(id="${controlId}")
        compose(
            view-model.bind="currentComponent.reference",
            if.bind="opened"
        )

    ul.side-nav-small
        li.side-nav-header
            a
                summary-icon(text="Hasli.io" fill="#239ae8" textColor="white" stroke="none" size="50")
                //img(src="dist/icons/hasli-icon.svg", alt="Hasli.io")
        li(repeat.for="nav of navigatorManager.router.navigation" class="${nav.isActive ? 'active' : ''}")
            a(href.bind="nav.href" click.delegate="open(nav)")
                i.material-icons.mdi(class="${nav.settings.icon}")
        li.side-nav-toggle(
            click.delegate="toggle()"
            ref="navigationControl"
            data-activates="${controlId}"
        )
            a(href="#")
                i.material-icons.mdi(class="${opened ? 'mdi-chevron-double-left' : 'mdi-chevron-double-right'}")