template
    ul(id="${controlId}").side-nav
        li.search
            .search-wrapper.card
                input(type='text')
                span.mdi.mdi-magnify

        li.no-padding.current
            a(href.bind="context.href") ${context.title}
        li.no-padding(repeat.for="group of groups")
            a(click.delegate="context.navigate(nav)") ${group.name}

            //ul
            //    li(repeat.for="context.children()" if.bind="context.hasChildren()")

    ul.side-nav-small(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
    )
        li
            span.mdi.mdi-menu
        li(repeat.for="nav of context.navigationElements()")
            a(click.delegate="context.navigate(nav)") ${nav.title}
            span.mdi(if.bind="level.icon" class="${level.icon}" title="${level.name}")

