template
    ul(id="${controlId}").side-nav
        li.side-nav-header
            .sidebar-toggle
                button.mdi.mdi-view-quilt
            .sidebar-search
                button.mdi.mdi-filter-outline.sidebar-search-filter
                input(type="text" placeholder="Search")
        //todo put in dashboard
        template(repeat.for="level of currentLevels")
            li.no-padding(if.bind="level.children")
                ul.collapsible
                    li
                        a.collapsible-header.waves-effect(class="${level.color}-text")
                            span.mdi(if.bind="level.icon" class="${level.icon}")
                            | ${level.name}
                            span.mdi.mdi-chevron-right.dropdown
                        .collapsible-body
                            ul
                                li(repeat.for="child of level.children")
                                    a(class="${child.color}-text")
                                        span.mdi(if.bind="child.icon" class="${child.icon}")
                                        | ${child.name}
            li(if.bind="!level.children")
                a(class="${level.color}-text")
                    span.mdi(if.bind="level.icon" class="${level.icon}")
                    | ${level.name}

    ul.side-nav-small(
        href='#',
        data-activates='${controlId}',
        ref="navigatorControl"
        )
        li.brand-logo
            img(src="dist/icons/hasli-icon.svg", alt="Hasli.io")
            //span.mdi.mdi-menu
        li(repeat.for="level of currentLevels")
            span.mdi(if.bind="level.icon" class="${level.icon}" title="${level.name}")

