template
    //.sidenav
    //    .ui.secondary.vertical.pointing.menu.sidenav-container(ref="menu")
    //        .item ${router.title}
    //        a.item.sidenav-collapse(ref="collapse", click.delegate="toggle()")
    //            i.angle.double.left.icon.disabled.large(ref="icon")
    //        a.item(
    //                repeat.for="row of router.navigation",
    //                class="${row.isActive ? 'active' : ''}"
    //                href.bind="row.href"
    //            )
    //            i(show.bind="showing") ${row.title}
    //            i(class="${row.settings.icon}")


    .sidenav.left--menu
        .menu--header
            .sidebar-header
                span.pull-left ${router.title}
        a.item(repeat.for="row of router.navigation", class="${row.isActive ? 'active' : ''}" href.bind="row.href")
            i(class="${row.settings.icon} icon")
            span ${row.title}