template
    .body-content(roles-allowed.bind="roles")
        h1 Approvals
        div(if.bind="approvals.length == 0")
            | No approvals
        template(if.bind="approvals.length > 0")
            table.highlight
                thead
                    tr
                        th First Name
                        th Last Name
                        th Email
                        th Phone
                        th Username
                        th
                tbody
                    tr(if.bind="loading")
                        td.loader-holder(colspan="6")
                            loader
                    tr(if.bind="!loading" repeat.for="approval of approvals")
                        td ${approval.user.firstname}
                        td ${approval.user.lastname}
                        td ${approval.user.emailAddress}
                        td TODO
                        td ${approval.user.username}
                        td
                            input(type="checkbox" id="${approval.requestId}" click.delegate="approve(approval.requestId)")
                            label(for="${approval.requestId}") Approve
