template
    .ui.internally.celled.fluid.grid.workbench-container
        .row
            .twelve.wide.centered.column
                .ui.mini.secondary.menu
                    a.item(repeat.for="child of router.navigation",
                        href.bind="child.href",
                        class="${child.isActive ? 'active' : ''}"
                    )
                        i(class="${child.settings.icon} ")
                        .text ${child.title}
                    .right.compact.mini.menu
                        a.item
                            i.search.icon
                            | Browse Templates
                        a.item.no--padding(type='button', click.trigger='toggleLeft()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-left-menu-icon.svg')
                        a.item.no--padding(type='button', click.trigger='toggleRight()')
                            .ui.image
                                img(src='styles/themes/hasli/assets/images/icons/toggle-right-menu-icon.svg')
    router-view
