template
    .ui.form
        //TODO OS selection
        .ui.inline.dropdown(if.bind="mode.viewState === 'basic'", ref="list")
            span.text.inlineimage
                img.ui.mini.image(src="")
                | Select OS
                i.caret.down.icon
            .menu
                .item(repeat.for="os of osService.list()" data-value="${os.id}")
                    image.ui.image(src='${os.icon}')
                    | ${os.name}

        .field.overlay-field
            .overlay-label
                label Node Name
            .ui.input.overlay-input
                input(type="text" name="name" value.bind="node.name")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Description
            .ui.input.overlay-input
                textarea(name="description", rows="2")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field(if.bind="mode.viewState === 'full'")
            .overlay-label
                label Operating System
            .ui.input.overlay-input
                .ui.fluid.search.selection.dropdown(ref="list")
                    input(type="hidden" name="operatingSystem")
                    i.dropdown.icon
                    .default.text Select OS
                    .menu
                        .item(repeat.for="os of osService.list()" data-value="${os.id}")
                            image.ui.image(src='${os.icon}')
                            | ${os.name}
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Instance Count
            .ui.input.overlay-input
                input(type="number" name="instanceCount" min="0" step="1")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label CPU
            .ui.input.overlay-input
                input(type="number" name="cpu" min="0" step="1")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Disk
            .ui.input.overlay-input
                input(type="text" name="disk")
            .overlay-help
                i.icon.help.circle.outline.large
        .field.overlay-field
            .overlay-label
                label Memory
            .ui.input.overlay-input
                input(type="text" name="memory")
            .overlay-help
                i.icon.help.circle.outline.large