template
    //TODO hide sidenav and top navigator if not in the overlay
    .overlay-sidenav
        .overlay-header
            .ui.inline.dropdown(ref="list")
                span.text.inlineimage.ui.small.image.overlay-header-image
                    img.ui.mini.image(src="")
                    | Select OS
                    i.caret.down.icon
                .menu
                    .item(repeat.for="os of osService.list()" data-value="${os.id}")
                        image.ui.image(src='${os.icon}')
                        | ${os.name}
                span.overlay-header-label ${node.name}
        .overlay-segment
            .segment-header Details
            .segment-body
                .item
                    | Created
                    | Date
                .item
                    | Updated
                    | Date
                .item
                    | Blocks
                    | Count
        .overlay-segment
            .segment-header Activity
            .segment-body
                //TODO
    .overlay-body
        .ui.secondary.pointing.menu.overlay-body-tab-menu
            .item.active Summary
            .item Stuff
            .item Stuff2
        .overlay-form.ui.form
            .field.overlay-field
                .overlay-label
                    label Node Name
                .ui.input.overlay-input
                    input(type="text" name="name" value.bind="node.name")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Description
                .ui.input.overlay-input
                    textarea(name="description", rows="2")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Instance Count
                .ui.input.overlay-input
                    input(type="number" name="instanceCount" min="0" step="1")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label CPU
                .ui.input.overlay-input
                    input(type="number" name="cpu" min="0" step="1")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Disk
                .ui.input.overlay-input
                    input(type="text" name="disk")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Memory
                .ui.input.overlay-input
                    input(type="text" name="memory")
                .overlay-help
                    i.icon.help.circle.outline.large
    //.element-editor
        form.ui.tiny.form
            //.two.field.overlay-fields
                .field.overlay-field
                    .ui.inline.dropdown(ref="list")
                        span.text.inlineimage
                            img.ui.mini.image(src="")
                            | Select OS
                        .ui.dropdown.icon
                        .menu
                            .item(repeat.for="os of osService.list()" data-value="${os.id}")
                                image.ui.image(src='${os.icon}')
                                | ${os.name}
                .field.overlay-field(style="line-height:64px; vertical-align:middle")
                    span.ui.medium.header ${node.name}

            //.one.field.overlay-field
                label Node Name
                input(type="text" name="name" value.bind="node.name")
            //.one.field.overlay-field
                label Description
                textarea(type="text" name="description", rows="2")
            //.two.field.overlay-fields
                .field.overlay-field
                    label Instance Count
                    input(type="text" name="instanceCount")
                .field.overlay-field
                    label CPU
                    input(type="text" name="cpu")
            //.two.field.overlay-fields
                .field.overlay-field
                    label Disk
                    input(type="text" name="disk")
                .field.overlay-field
                    label Memory
                    input(type="text" name="memory")




