template
    require(from="./basic")
    require(from="./credentials")
    require(from="./cloud")
    .overlay-sidenav
        .overlay-header
            .ui.small.image.overlay-header-image
                img(src="${node && node.operatingSystem.icon ? node.operatingSystem.icon : node.icon}")
            span.overlay-header-label ${node.name}
        .overlay-segment
            .segment-header Details
            .segment-body
                .item
                    | Created
                    | Date
                .item
                    | Updated
                    | Date
                .item
                    | Blocks
                    | Count
        .overlay-segment
            .segment-header Activity
            .segment-body
                //TODO
    .overlay-body
        div ${activeComponentPath}
        .ui.secondary.pointing.menu.overlay-body-tab-menu
            a.item(
                class="${component.active ? 'active' : ''}"
                repeat.for="component of components",
                click.delegate="setActive(component)"
            ) ${component.name}
        .overlay-form
            compose(
                model.bind="editorMode" node.bind="node"
                view-model="./${activeComponent.path || 'basic'}"
                )
            //basic-infrastructure-node-editor(mode.bind="editorMode", node.bind="node")