template
    h2 Credentials
    .ui.three.stackable.cards
        .ui.card(repeat.for="credential of credentials")
            .content
                .header ${credential.name}
            .content
                p Created by #{''}
                    a ${credential.modifier.username}
                p Created on #somedate
                p Last used #thispropertydoesn'texist
            .content
                p Something about properties will go here
            .ui.bottom.button.attached Edit
            .ui.bottom.button.attached Add Property

        .ui.card(show.bind="newCredential")
            .content
                .header New Credential
            form.ui.form.content
                .field
                    label Credential Name
                    input(
                    type='text',
                    name='credential-name',
                    placeholder='Credential Name',
                    value.bind="secret.name"
                    )
                .field
                    label Key Id
                    input(
                    type='text',
                    name='key-id',
                    placeholder='key-id',
                    value.bind="secret.credential"
                    )
                .field
                    label Key
                    input(
                    type='text',
                    name='key', placeholder='key',
                    value.bind="secret.secret"
                    )
            .ui.button.bottom.attached(type='submit', click.delegate="saveCredential()") Submit

        .ui.card(click.delegate="addCredential()")
            .content.center.aligned
                i.plus.outline.icon.massive.grey.inverted(style="margin-top:.25em;")
            .ui.bottom.button.attached Add Credential
