// TODO Break each tab out into its own component.  Fuck.

   Created by dustinlish on 2/19/17.
template
    .ui.active.inverted.dimmer(if.bind="loading", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
        .ui.large.loader
    .overlay.au-animate
        .ui.container
            .ui.secondary.menu
                .right.menu
                    a.item
                        i.huge.ion-ios-close-empty.icon(click.delegate="cancel()")
            .ui.middle.aligned.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW APPLICATION
                        .ui.hidden.divider
                        .ui.hidden.divider

                        .fluid.field
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                type='text'
                                placeholder='Add application name'
                                value.bind="application.name"
                                )
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                type='text'
                                placeholder='Github Repository'
                                value.bind="application.repository.remote.location"
                                )
                            .ui.divider
                                .ui.button.primary(click.delegate="submit()") Save
                        //.big-divider
                        //    .ui.grid.hasli-form.ui.form
                        //        .row
                        //            .four.wide.column
                        //                img.ui.image.small(src="styles/themes/hasli/assets/images/github-mark.svg")
                        //            .twelve.wide.column.middle.aligned
                        //                .hasli-field.ui.field
                        //                    .hasli-label
                        //                        label Repository
                        //                    .hasli-input.ui.input
                        //                        input(type="text" name="repository", value.bind="repository")
                        //        .row
                        //            .sixteen.wide.column
                        //                .hasli-field.ui.field
                        //                    .hasli-label
                        //                        label Username
                        //                    .hasli-input.ui.input
                        //                        input(type="text" name="username", value.bind="username")
                        //                .hasli-field.ui.field
                        //                    .hasli-label
                        //                        label Password
                        //                    .hasli-input.ui.input
                        //                        input(type="password" name="password", value.bind="password")
                        //                .ui.horizontal.divider
                        //                    | OR
                        //                .hasli-field.ui.field
                        //                    .hasli-label
                        //                        label Key
                        //                    .hasli-input.ui.input
                        //                        textarea
