template
    .ui.active.inverted.dimmer(if.bind="loading", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
        .ui.large.loader
    .overlay.au-animate
        //.overlay-back.overlay-nav(click.delegate="cancel()")
        //    i.ion-ios-arrow-thin-left.icon
        //    span back
        .overlay-close.overlay-nav(click.delegate="cancel()")
            i.ion-ios-close-empty.icon
            span esc
        .ui.container
            .ui.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW APPLICATION
                        .ui.hidden.divider
                        .ui.hidden.divider

                        .fluid.field
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                type='text'
                                placeholder='Add application name'
                                value.bind="application.name & validate"
                                )
                            .ui.divider

                        .big-divider
                        .ui.basic.center.aligned.segment
                            .fluid.field
                                h1.ui.center.aligned.header(ref="uploader")
                                    label.clickable
                                        input.upload-box__file(type="file" name="image" change.delegate="onchange()" ref="imageElement" files.bind="files")
                                        i.circular.blue.large.ion-image.icon.circular--icon
                                        span(style="margin-left:1em;")
                                            .ui.basic.primary.button
                                                | Add Icon Image
                                        .upload-box__file-label

                        .big-divider
                        .ui.four.link.cards
                            .new-app_type.card.hvr-glow(
                            repeat.for="template of templates",
                            click.delegate="incompleteFeature.notify($event)"
                            )
                                .content
                                    .header
                                        img(src="${template.icon}")
                                    .description
                                        | ${template.description}
                        .big-divider

                        .ui.basic.center.aligned.segment
                            button.ui.secondary.button(click.delegate="submit()")
                                | Save