template
    require(from="./select-template")
    require(from="./git-integration")
    .ui.active.inverted.dimmer(if.bind="loading", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
        .ui.large.loader
    .overlay.au-animate
        //.overlay-back.overlay-nav(click.delegate="cancel()")
        //    i.ion-ios-arrow-thin-left.icon
        //    span back
        .overlay-close.overlay-nav(click.delegate="cancel()")
            i.ion-ios-close-empty.icon
            span esc
        .ui.container
            .ui.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW APPLICATION
                        .ui.hidden.divider
                        .ui.hidden.divider

                        .fluid.field
                            .ui.fluid.transparent.input
                                input.overlay-input-centered(
                                type='text'
                                placeholder='Add application name'
                                value.bind="application.name & validate"
                                )
                            .ui.divider

                        //todo uncomment when sdk says we can upload w/ image
                        //.ui.basic.center.aligned.segment
                        //    .fluid.field
                        //        h1.ui.center.aligned.header(ref="imageUploader")
                        //            label.clickable
                        //                input.upload-box__file(type="file" name="image" ref="imageInput" files.bind="image")
                        //                i.circular.blue.ion-image.icon.circular--icon
                        //                span(style="margin-left:1em;")
                        //                    .ui.basic.primary.button
                        //                        | Add Image
                        //                .upload-box__file-label
                        .big-divider


                        .fluid.field.ui.basic.center.aligned.segment
                            .ui.secondary.pointing.menu
                                .item.clickable(class="${appType == 'select' ? 'active' : ''}" click.delegate="switchTab('select')") Select Template
                                .item.clickable(class="${appType == 'git' ? 'active' : ''}" click.delegate="switchTab('git')") Clone Git Repo
                            .ui.hidden.divider
                            template(if.bind="appType == 'select'")
                                add-application-select-template(application.bind="application")
                            template(if.bind="appType == 'git'")
                                add-application-git-integration(application.bind="application")
                        .big-divider

                        .ui.basic.center.aligned.segment
                            button.ui.secondary.button(click.delegate="submit()")
                                | Save