
template

    div.chart-container(id.bind="id")
        div.chart-header
            span.chart-label ${label}
            div.chart-controls
                div.ion-ios-compose-outline(click.delegate="edit()")

                div.ion-arrow-expand.chart-expand

                div(click.delegate="destroyChart()").ion-android-close.chart-close




        div.chart-body
            compose(
                view-model="charts/container/selector/selector",
                compose.ref="selector",
                apply.delegate="openChart($event)",
                model.bind="selectorVisible"
            )
            compose(
                view-model="charts/timeseries/timeseries",
                compose.ref="chart",
                model.bind="chartModel"
            )

            //timeseries(view-model.ref="chart")