template
    .ui.grid.overlay
        .four.wide.column
            .sidenav.overlay-sidenav
                .overlay-header
                    .ui.small.overlay-header-image
                        img(src="assets/sui/themes/hasli/assets/images/icons/blocks-icon.svg",)
                    span.overlay-header-label Block Library
                    //This is NOT the block library, don't be fooled
                .overlay-segment
                    .segment-header
                        | Type
                    .ui.vertical.secondary.pointing.menu.type-menu.segment-body
                        a.item(
                        repeat.for="t of blockManager.listTypes()",
                        click.delegate="filterTypes(t, $event)"
                        )
                            | ${nameOf(t)}
        .twelve.wide.column.overlay-body
            .ui.secondary.pointing.menu.overlay-body-tab-menu
                a.item(
                    repeat.for="row of router.navigation",
                    class="${row.isActive ? 'active' : ''}"
                    href.bind="row.href"
                ) ${row.title}
            router-view
