template
    div(
        if.bind="loading"
        style="height:100%; width:100%;"
        )
        .ui.active.dimmer(style="background-color:#171b26")
            .ui.text.loader Loading
    .carousel-container
        .carousel-contents
            compose(view-model.bind="currentItem")
        .carousel-menu(show.bind="!loading")
            .items
                div(
                    repeat.for="item of items",
                    class="citem ${item.active ? 'active' : ''}"
                    click.delegate="setCurrent(item, $index)"
                )