//
   Created by dustinlish on 3/2/17.

template
    // checkbox
    td.right.aligned
        .ui.child.green.checkbox
            input(name='child', type='checkbox')
            label
    // name
    td
        .ui.link.items
            .item(click.delegate="open()")
                .ui.middle.aligned.mini.image
                    img(src="${model.logo}")
                .content
                    | ${model.name}
    // Status
    td
        i.icon.status-circle(class="${computeStatus(instance)}")
        | ${model.state}
    // IP:Port
    td
        | ${model.publicIp}
    // CPU
    td
        | ${model.cpu}
    // Memory
    td
        | ${model.memory}
    // Disk
    td
        | ${model.disk}
    td.right.aligned
        i.link.ion-ios-gear-outline.big.blue.icon