//
   Created by dustinlish on 3/5/17.
template
    // checkbox
    td.right.aligned
        .ui.child.green.checkbox
            input(name='child', type='checkbox')
            label
    // name
    td
        .ui.link.items
            .item(click.delegate="openInstance(model)")
                .ui.middle.aligned.mini.image
                    img(src="${model.logo}")
                .content
                    | ${model.name}
    // version
    td
        | ${model.version}
    // Status
    td
        i.icon.status-circle(class="${computeStatus(instance)}")
        | ${model.state}
    // IP
    td
        | ${model.ip}
    // cpu
    td.right.aligned
        compose(view-model="apps/workspaces/resources/custom-elements/charts/doughnut-chart", model.bind="model.cpu")
    // mem
    td.right.aligned
        compose(view-model="apps/workspaces/resources/custom-elements/charts/doughnut-chart", model.bind="model.mem")
    // disk
    td.right.aligned
        compose(view-model="apps/workspaces/resources/custom-elements/charts/doughnut-chart", model.bind="model.disk")
    td.right.aligned
        i.link.ion-ios-gear-outline.big.blue.icon
