//
   Created by dustinlish on 2/20/17.
template
    .ui.hidden.divider
    .ui.grid
        .four.wide.column
            .ui.grid
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Details
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list.pills
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Requirements
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown(ref="requirementDD")
                                        i.big.ion-ios-plus-empty.green.link.icon
                                        .menu
                                            .item(click.delegate="openDeployer()")
                                                | Deployer
                                            .item(click.delegate="openNodeTemplate()")
                                                | Node Template
                                            .item(click.delegate="openApplications()")
                                                | Applications
                                            .item(click.delegate="openOperatingSystem()")
                                                | Operating System
                                            .item(click.delegate="openService()")
                                                | Service
                                            .item(click.delegate="openInstances()")
                                                | Instances

                            .segment-header_divider

                            .ui.horizontal.list.pills
                                .item.closeable(repeat.for="requirement of application.requirements")
                                    .ui.basic.primary.button(
                                        title="Edit"
                                        click.delegate="openDialog(requirement)"
                                    )
                                        | ${requirement.name}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove"
                                            click.delegate="clearRequirement(requirement)"
                                        )
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Tags
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list.pills
                                .item.closeable(repeat.for="tag of application.tags")
                                    .ui.basic.primary.button(
                                            title="Edit"
                                            click.delegate="openDialog(tag)"
                                    )
                                        | ${tag.name}
                                    .hover-close
                                        i.circular.inverted.red.remove.link.icon(
                                            title="Remove"
                                            click.delegate="clearRequirement(requirement)"
                                        )
                .row
                    .column
                        .ui.segment
                            .ui.text.menu.summary-segment_header
                                .item
                                    | Contributors
                                .right.menu
                                    span.item.ui.icon.top.right.pointing.dropdown
                                        i.big.ion-ios-gear-outline.icon
                            .segment-header_divider
                            .ui.horizontal.list.pills
        .twelve.wide.column
            .ui.segment(style="position:relative; min-height:150px;")
                h1.ui.header(if.bind="!loadingSummary") Readme
                div(ref="summary")
                .ui.inverted.active.dimmer(if.bind="loadingSummary", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
                    .ui.text.loader Loading Readme ...