template
    .ui.basic.segment(style="min-height:150px" if.bind="loading")
        .ui.active.inverted.dimmer
            .ui.text.loader Loading Credential List...
    div(if.bind="!loading")
        .overlay-action-menu
            .overlay-icons
                button.ui.button.primary(click.delegate="addCredential()" class="${addingCredential} ? 'disabled' : ''") Add Credential
        .ui.overlay-segment(repeat.for="credential of credentials")
            .segment-header ${credential.name}
            .segment-body
                .item Secret: ${credential.secret}
                .item Credential: ${credential.credential}
                .item User: ${credential.user.username}

        .ui.form(show.bind="addingCredential")
            .field.overlay-field
                .overlay-label
                    label Credential Name
                .ui.input.overlay-input
                    input(type="text", value.bind="credential.name")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Secret
                .ui.input.overlay-input
                    input(type="text", value.bind="credential.secret")
                .overlay-help
                    i.icon.help.circle.outline.large
            .field.overlay-field
                .overlay-label
                    label Credential
                .ui.input.overlay-input
                    input(type="text", value.bind="credential.credential")
                .overlay-help
                    i.icon.help.circle.outline.large
            button.ui.pull-right.button.primary(click.delegate="save()") Save Credential