template
    .designer-menu-bar(slot="menu-bar")
        .template-info
            .dropdown-button(
                    ref="templateDD"
                    data-constrainwidth="false"
                    data-beloworigin="true"
                    data-activates="${controlId}"
                )
                | ${model.name}
                span.version v ${version.name()}
                i.material-icons.mdi.mdi-chevron-right.dropdown-icon
            ul.dropdown-content(id="${controlId}")
                li Last Edited ${model.modified}
                li Last Released

        ul.tab-menu
            li.tab.active
                a.material-icons.mdi.mdi-checkbox-multiple-blank(title="Incomplete Feature")
            li.tab
                a.material-icons.mdi.mdi-source-branch(title="Incomplete Feature")
        .utilities
            i.material-icons.mdi.mdi-content-save(title="Incomplete Feature")
            i.material-icons.mdi.mdi-undo-variant(click.delegate="undo()")
            i.material-icons.mdi.mdi-redo-variant(click.delegate="redo()")
            //only adding these for now since we know we'll use them
