template
    //todo restyle menu bar so it's full width on deployment side
    .designer-menu-bar(slot="menu-bar")
        .template-info
            .dropdown-button(
                    ref="templateDD"
                    data-constrainwidth="false"
                    data-beloworigin="true"
                    data-activates="${controlId}"
                )
                | ${model.name}
                span.version v ${model.version.name()}
                i.material-icons.mdi.mdi-chevron-right.dropdown-icon
            ul.dropdown-content(id="${controlId}")
                li Last Edited ${model.modified}
                li Last Released

        ul.tab-menu
            li.tab(repeat.for="route of router.navigation"
                class.bind="route.isActive ? 'active' : ''")
                a.material-icons.mdi(class.bind="route.settings.icon"
                    title.bind="route.title"
                    href.bind="route.href"
                )
        .utilities
            i.material-icons.mdi.mdi-file(click.delegate="configureFile()" title="Open Configuration File")
            i.material-icons.mdi.mdi-content-save(click.delegate="save()" title="Save")
            i.material-icons.mdi.mdi-undo-variant(click.delegate="undo()" title="Undo")
            i.material-icons.mdi.mdi-redo-variant(click.delegate="redo()" title="Redo")
