template
    .ui.active.inverted.dimmer(if.bind="loading", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
        .ui.large.loader
    .overlay.au-animate
        template(if.bind="providerSelected")
            .overlay-back.overlay-nav(click.delegate="deselectProvider()")
                i.ion-ios-arrow-thin-left.icon
                span back
        .overlay-close.overlay-nav(click.delegate="close()")
            i.ion-ios-close-empty.icon
            span esc
        .ui.container
            .ui.center.aligned.grid
                .two.column.centered.row
                    .column
                        h3.ui.center.aligned.header
                            | CREATE NEW APPLICATION
                        .ui.hidden.divider
                        .ui.hidden.divider

                        template(if.bind="!providerSelected")
                            //.overlay-action-menu
                                .ui.small.icon.input
                                    input(type='text', placeholder='Search')
                                    i.search.icon
                                .ui.small.basic.button.primary
                                    | Recent
                                    i.dropdown.icon
                                span.overlay-icons
                                    i.icon.list.layout.large
                                    i.icon.grid.layout.large
                            h4.ui.dividing.header Select Provider
                            .ui.hidden.divider
                            .overlay-cards.ui.centered.four.stackable.cards
                                .card.clickable(
                                    repeat.for="provider of providers",
                                    click.delegate="selectProvider(provider)"
                                    )
                                    img.overlay-card--image(src="${provider.icon}" alt="${provider.name}")
                                    .overlay-card--label ${provider.name}

                        template(if.bind="providerSelected")
                            h4.ui.dividing.header Details
                            .ui.form.overlay-form
                                .ui.field.overlay-field
                                    .overlay-label
                                        label Name
                                    .overlay-input.ui.input
                                        input(type="text" value.bind="provider.name & validate")
                                .ui.field.overlay-field
                                    .overlay-label
                                        label Description
                                    .overlay-input.ui.input
                                        textarea(value.bind="provider.description")
                                .ui.field.overlay-field(if.bind="provider.key == 'aws'")
                                    .overlay-label
                                        label Region
                                    .overlay-input.ui.input
                                        .ui.fluid.search.selection.dropdown(ref="region")
                                            input(type="hidden" value.bind="provider.awsRegion & validate")
                                            i.dropdown.icon
                                            .default.text Select Region
                                            .menu
                                                .item(repeat.for="region of regions", data-value="${region.name}")
                                                    | ${region.region} (${region.name})

                                .ui.basic.center.aligned.segment
                                    button.ui.secondary.button(
                                        type="submit",
                                        click.delegate="saveProvider()"
                                    )
                                        | Save Provider