template
    div.graph-tool-menu.below-breadcrumb
        div.btn-group.btn-group-lg(role='group')
            div.btn-group.btn-group-lg
                button.btn.btn-lg(
                type='button',
                data-toggle='dropdown',
                aria-haspopup='true',
                aria-expanded='false',
                click.delegate="showList()"
                )
                    span.glyphicon.ion-ios-list-outline.no-pad
                button.btn.btn-lg(
                type='button',
                data-toggle='dropdown',
                aria-haspopup='true',
                aria-expanded='false',
                click.delegate="showTimeline()"
                )
                    span.glyphicon.ion-ios-timer-outline.no-pad


