template
    .ui.hidden.divider
    form.ui.form.hasli-form
        .ui.field.hasli-field
            .hasli-label.required
                label Name
            .hasli-input.ui.input
                input(type='text',
                    name='name',
                    placeholder='instance name',
                    value.bind="wizard.name"
                )
        .ui.field.hasli-field
            .hasli-label.required
                label Cloud
            .hasli-input.ui.input
                select.ui.fluid.dropdown(value.bind="providerId")
                    option(value='') Select cloud
                    option(repeat.for="provider of providers" value="${provider.id}")
                        | ${provider.name}
        .ui.field.hasli-field
            .hasli-label.required
                label Tag
            .hasli-input.ui.input
                .ui.fluid.multiple.search.selection.dropdown(ref="tagDropdown", value.bind="selectedTags")
                    input(name='tags', type='hidden')
                    i.dropdown.icon
                    .default.text Tags
                    .menu
                        .item(data-value='production') Production
                        .item(data-value='staging') Staging
                        .item(data-value='dev') Dev
                        .item(data-value='qa') QA

    .ui.hidden.divider
