template
    h2 Node Configuration
    .ui.hidden.divider
    .ui.segment
        h3 My Configurations
        .ui.relaxed.divided.list
            .item
                .content
                    button.button.basic.ui.primary.fluid.basic(click.delegate="addNodeConfiguration()", show.bind="!newNodeConfiguration") Add a new configuration
                    div(show.bind="newNodeConfiguration")
                        .ui.four.top.attached.steps
                            .step(repeat.for="step of steps", class="${step.step == activeStep ? 'active' : ''} ${step.step > activeStep ? 'disabled' : ''}", click.delegate="changeNodeConfigurationStep(step.step)")
                                i.icon(class="${step.icon}")
                                .content
                                    .title ${step.title}
                                    .description ${step.description}
                        .ui.attached.segment
                            .ui.hidden.divider
                            form
                                .ui.form(show.bind="activeStep == 1")
                                    .field
                                        label CPUs
                                        input(type='number', placeholder='Number of CPUs')
                                    .field
                                        label Memory
                                        .fields
                                            .eight.wide.field
                                                input(type='number', placeholder='Number')
                                            .eight.wide.field
                                                select
                                                    option B
                                                    option KB
                                                    option MB
                                                    option(selected='selected') GB
                                                    option TB
                                                    option EiB
                                    .field
                                        label Storage
                                        .fields
                                            .eight.wide.field
                                                input(type='number', placeholder='Number')
                                            .eight.wide.field
                                                select
                                                    option B
                                                    option KB
                                                    option MB
                                                    option(selected='selected') GB
                                                    option TB
                                                    option EiB
                                    .field
                                        button.ui.button.basic.primary(click.delegate="changeNodeConfigurationStep(2)")
                                            | Select Hardware
                                            i.icon.chevron.right
                                .ui.form(show.bind="activeStep == 2")
                                    .ui.relaxed.divided.list
                                        .item(repeat.for="os of operatingSystems")
                                            button.ui.right.floated.button.basic.primary(click.delegate="changeNodeConfigurationStep(3)")
                                                | Select OS
                                                i.icon.chevron.right
                                            i.large.middle.aligned.icon(class="${os.icon}")
                                            .content
                                                .header ${os.name}
                                                .description ${os.description}
                                .ui.form(show.bind="activeStep == 3")
                                    .ui.two.column.relaxed.grid(style='position:relative')
                                        .ui.vertical.divider
                                            | or
                                        .column
                                            .ui.icon.input.visible.fluid
                                                i.search.icon
                                                input(type='text', placeholder='Search for an application')
                                                //TODO bind something to this input
                                        .column
                                            button.ui.button.basic.fluid.primary(click.delegate="changeNodeConfigurationStep(4)")
                                                | Finish Selecting Software
                                                i.icon.chevron.right
                                    h4 Selected Applications
                                    .ui.relaxed.divided.list
                                        .item
                                            //TODO bind something to this button
                                            button.ui.right.floated.button.basic.secondary
                                                | Remove ${''}
                                                i.icon.remove
                                            .content
                                                .header Application Name
                                                .description A Description, if relevant
                                .ui.form(show.bind="activeStep == 4")
                                    h4 Credentials
                                    .ui.two.column.relaxed.grid(style='position:relative')
                                        .ui.vertical.divider
                                            | or
                                        .column
                                            .ui.icon.input.visible.fluid
                                                i.search.icon
                                                input(type='text', placeholder='Search for a credential')
                                        .column
                                            button.ui.button.basic.fluid.primary(click.delegate="addCredential()")
                                                | Add a new one
                                    .ui.segment(show.bind="newCredential")
                                        form.ui.form
                                            .field
                                                label Credential Name
                                                input(
                                                type='text',
                                                name='credential-name',
                                                placeholder='Credential Name',
                                                value.bind="secret.name"
                                                )
                                            .field
                                                label Key Id
                                                input(
                                                type='text',
                                                name='key-id',
                                                placeholder='key-id',
                                                value.bind="secret.credential"
                                                )
                                            .field
                                                label Key
                                                input(
                                                type='text',
                                                name='key', placeholder='key',
                                                value.bind="secret.secret"
                                                )
                                            button.ui.button.basic.primary(type='submit', click.delegate="saveCredential()") Save Credential
                                    .ui.relaxed.divided.list
                                        //TODO list out all
                                        .item
                                            //TODO bind
                                            button.ui.right.floated.button.basic.secondary
                                                | Remove ${''}
                                                i.icon.remove
                                            .content
                                                .header Credential Name
                                                .description Whatever else is relevant
                                    .ui.hidden.divider
                                    h4 Security Groups
                                    .ui.two.column.relaxed.grid(style='position:relative')
                                        .ui.vertical.divider
                                            | or
                                        .column
                                            .ui.icon.input.visible.fluid
                                                i.search.icon
                                                input(type='text', placeholder='Search for a security group')
                                        .column
                                            button.ui.button.basic.fluid.primary(click.delegate="addSecurityGroup()")
                                                | Add a new one
                                    .ui.segment(show.bind="newSecurityGroup")
                                        //TODO bind
                                        form.ui.form
                                            .field
                                                label Security Group Name
                                                input(type='text', placeholder='Security Group Name')
                                            .field
                                                label Description
                                                input(type='text', placeholder='Description')
                                            table.ui.celled.table
                                                thead
                                                    tr
                                                        th Direction
                                                        th Type
                                                        th Protocol
                                                        th Port Range
                                                        th Source
                                                        th
                                                tbody
                                                    //TODO rule form; need to be able to add many
                                                    tr
                                                        td
                                                            select
                                                                option Inbound
                                                                option Outbound
                                                        td
                                                            select
                                                                option Custom TCP
                                                        td
                                                            input(value='TCP', disabled='true')
                                                        td
                                                            input(value='0')
                                                        td
                                                            .fields
                                                                .eight.wide.field
                                                                    select
                                                                .eight.wide.field
                                                                    input
                                                        td
                                                            button.ui.button.basic.secondary
                                                                i.icon.remove
                                                    tr
                                                        td(colspan=6)
                                                            button.ui.button.basic.primary Add Rule

                                            button.ui.button.basic.primary(click.delegate="saveSecurityGroup()") Save Security Group
                                    .ui.relaxed.divided.list
                                        .item
                                            //TODO bind
                                            button.ui.right.floated.button.basic.secondary
                                                | Remove ${''}
                                                i.icon.remove
                                            .content
                                                .header Security Group Name
                                                .description Whatever else is relevant
                                .ui.hidden.divider
                                .ui.grid.stackable.equal.width
                                    button.column.ui.button.basic.primary.fluid(class="${activeStep != 4 ? 'disabled' : ''}", click.delegate="saveNodeConfiguration()")
                                        | Save Node Configuration
                                    button.column.ui.button.basic.secondary.fluid(click.delegate="cancelNodeConfiguration()")
                                        | Cancel Node Configuration
            .item
                button.ui.right.floated.button.primary
                    | Deploy
                //TODO only show if it has instances
                button.ui.right.floated.button.primary
                    | View Instances
                .content
                    .header What should we title a configuration?
                    .content All the specifications of the configuration
    .ui.hidden.divider
    .ui.segment
        h3 Amazon Configurations
        .ui.icon.input.visible.fluid
            i.search.icon
            input(type='text', placeholder='Search AMIs')
