template
    .ui.grid(style="width:100%")
        .four.wide.column
            .sidenav(style="margin-top:-20px; width:25% !important")
                .fpage-header
                    .ui.small.image(style="width:100%; margin-top:32px")
                        img(
                            src="assets/sui/themes/hasli/assets/images/icons/blocks-icon.svg",
                            style="margin:auto", width="80px", height="80px"
                        )
                    span.label Block Library
                .fpage-list
                    .header
                        | Type
                    .ui.vertical.secondary.pointing.menu
                        a.item(
                            repeat.for="t of blockManager.listTypes()",
                            click.delegate="filterTypes(t, $event)"
                        )
                            span.name ${nameOf(t)}
                            span.count
                .fpage-list
                    .header Categories
                    .ui.vertical.secondary.pointing.menu
                        a.item(
                            repeat.for="c of blockManager.getCategories()"
                        )
                            span.name ${c.name}
                            span.count ${c.count}
        .twelve.wide.column(style="padding:64px;")
            .ui.relaxed.middle.aligned.selection.divided.list(style="overflow-y: auto" ref="list")
                .item(repeat.for="block of blocks")
                    img.ui.image(src="${block.icon}", width="24px", height="24px")
                    .content ${block.name}