template
    .ui.hidden.divider
    h4.ui.dividing.header General Information
    .ui.form.hasli-form
        .ui.field.hasli-field
            .hasli-label
                label Deploy to single node
            .hasli-input.ui.input
                .ui.checkbox
                    input.hidden(type='checkbox', tabindex='0')
        .ui.field.hasli-field
            .hasli-label.required
                label Deployment Policy
            .hasli-input.ui.input
                select.ui.fluid.dropdown(value.bind="policyId")
                    option(value='') Select Policy
                    option(repeat.for="policy of policies" value="${policy.id}")
                        | ${policy.name}

    .ui.hidden.divider
    h4.ui.dividing.header Configure Applications
    .ui.fluid.styled.accordion
        template(repeat.for="application of wizard.applications")
            .active.title
                i.dropdown.icon
                img.ui.tiny.image(src='${application.logo}')
                | ${application.name}
            .active.content
                .ui.basic.segment
                    .ui.pointing.secondary.tabular.menu
                        a.active.item(data-tab="details-app-${application.id}")
                            | Details
                        a.item(data-tab="configuration-app-${application.id}")
                            | Configuration
                        a.item(data-tab="scaling-app-${application.id}")
                            | Scaling
                    .ui.active.tab(data-tab='details-app-${application.id}')
                        .ui.hidden.divider
                        .ui.form.hasli-form
                            .ui.field.hasli-field
                                .hasli-label.required
                                    label Name
                                .hasli-input.ui.input
                                    input(type='text', name='name', value='MySql')
                            .ui.field.hasli-field
                                .hasli-label.required
                                    label Version
                                .ui.input.hasli-input
                                    select.ui.fluid.dropdown
                                        option(value='6.10.0 LTS') 5.6
                                        option(value='new') 5.5
                                        option(value='new') 4.4
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label Deployment Policy
                                .ui.input.hasli-input
                                    select.ui.fluid.dropdown
                                        option(value='') Select Policy
                                        option(value='new') default-micro-us-west-1
                                        option(value='new') default-small-us-west-1
                                        option(value='new') default-medium-us-west-1
                        .ui.hidden.divider
                    .ui.tab(data-tab='configuration-app-#{application.id}')
                        .ui.hidden.divider
                        .ui.form
                            // TODO dynamic fields based on application
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label ROOT PASSWORD
                                .ui.input.hasli-input
                                    input(type='text', name='root-password', placeholder='root password')
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label ADMIN USERNAME
                                .ui.input.hasli-input
                                    input(type='text', name='admin-user', placeholder='MySql admin user')
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label ADMIN PASSWORD
                                .ui.input.hasli-input
                                    input(type='text', name='admin-pass', placeholder='admin user password')
                        .ui.hidden.divider
                    .ui.tab(data-tab='scaling-app-${application.id}')
                        .ui.hidden.divider
                        .ui.form
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label Autoscaling
                                .ui.input.hasli-input
                                    .inline.field
                                        .ui.checkbox
                                            input.hidden(type='checkbox', tabindex='0')
                                            label Auto Upscale
                                    .inline.field
                                        .ui.checkbox
                                            input.hidden(type='checkbox', tabindex='0')
                                            label Auto Downscale
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label Minimum number of nodes
                                .ui.input.hasli-input
                                    //todo switch to number field?
                                    select.ui.dropdown
                                        option(value='1') 1
                                        option(value='new') 2
                                        option(value='new') 3
                                        option(value='new') 4
                                        option(value='new') 5
                                        option(value='new') 6
                                        option(value='new') 7
                            .ui.field.hasli-field
                                .required.hasli-label
                                    label Max number of nodes
                                .ui.input.hasli-input
                                    //todo switch to number field?
                                    select.ui.dropdown
                                        option(value='1') 1
                                        option(value='new') 2
                                        option(value='new') 3
                                        option(value='new') 4
                                        option(value='new') 5
                                        option(value='new') 6
                                        option(value='new') 7
    .ui.hidden.divider
