//
   Created by dustinlish on 11/22/16.
template
    .ui.grid
        .row
            .column
                h4.ui.dividing.header
                    | Summary
                .ui.basic.segment
                    p
                        | Name: ${wizard.name}
                    p
                        | Cloud: ${wizard.providerId}
                    p
                        | Tag: Production
                        //todo hook up tags
                    p
                        | Deployment Policy: ${wizard.policyId}
        .row
            .column
                h4.ui.dividing.header
                    | Applications
        .row.two.column.grid
            .column(repeat.for="application of wizard.applications")
                .ui.tiny.image
                    img(src='/hasli/api/v1/applications/${application.picture.id}/picture')
                .ui.items
                    .item
                        .content
                            .meta
                                span Details
                            .description
                                p
                                    | Name: ${application.name}
                                P
                                    | Size: t2.micro 1 cpu, 1 gb memory
                                    //todo hook up size