//
   Created by dustinlish on 2/22/17.

template
    .ui.basic.segment(style="position:relative; min-height:150px;")
        .ui.active.inverted.dimmer(if.bind="loadingTable", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
            .ui.text.loader Loading Files ...
        .ui.text.menu
            .item
                h4.ui.header
                    | All Files
            .right.menu
                a.item(click.delegate="incompleteFeature.notify($event)")
                    | + NEW DIRECTORY
                a.item(click.delegate="incompleteFeature.notify($event)")
                    | + NEW FILE
        table.ui.very.basic.files.unstackable.selectable.table
            thead
                tr.breadcrumb
                    td(colspan="3")
                        a.clickable(click.delegate="openRoot()")
                            i.ion-home.icon
                            | Root
                        a.clickable(repeat.for="parent of parentList" click.delegate="openFile(parent, $event)")
                            i.ion-ios-arrow-right.icon
                            | ${name(parent.name)}
            tbody
                tr.clickable.file(repeat.for="file of files" click.delegate="openFile(file, $event)" data-id="${file.id}")
                    td.fileName
                        i(class="${style(file)}")
                        a(href='#')
                            | ${name(file.name)}
                    td.commitMsg
                    td.right.aligned.commitTime(if.bind="!file.directory") ${file.revision}

    .ui.long.modal(ref="filePopup")
        template(if.bind="activeFile")
            .header ${activeFile.name}
            .content
                .ui.form.overlay-form
                    .field(style="position:relative;")
                        .ui.active.inverted.dimmer(if.bind="loadingFile", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
                            .ui.loader
                        textarea(rows="15" value.bind="activeFileText")
                    button.ui.button.primary.pull-right(click.delegate="saveFile(activeFile)") Save