template
    //todo for now, just put logo behind nav and push in breadcrumb because easier
    nav
        .nav-wrapper
            a.brand-logo(href="/")
                | Hasli.io
            //ul.breadcrumb
                //li.breadcrumb WorkspaceName
                //li.breadcrumb Dashboard
            //.input-field
            //    input(type="search" id="navbarSearch")
            //    label(class="label-icon" for="navbarSearch")
            //        i.material-icons.mdi.mdi-search
            //    i.material-icons.mdi.mdi-close
            ul.right.user-menu
                li
                    i.material-icons.mdi.mdi-bell
                    // activity-monitor-dropdown
                li(
                    class="dropdown-button"
                    data-hover="true"
                    data-beloworigin="true"
                    data-activates="${dropdownId}"
                    data-constrainwidth="false"
                    ref="profileDD"
                    )
                    span
                        | ${user.username}
                        i.material-icons.mdi.mdi-menu-down
                    ul(id="${dropdownId}" class="dropdown-content")
                        //li
                        //    i.material-icons.mdi.mdi-account-circle
                        //    | ${user.username}
                        //li.divider
                        li(click.delegate="openSettings()")
                            i.material-icons.mdi.mdi-account-settings-variant
                            | Account Settings
                        //li(click.delegate="incompleteFeature.notify($event)")
                        //    i.material-icons.mdi.mdi-help-circle
                        //    | Help
                        li.divider
                        li(click.delegate="logout()")
                            i.material-icons.mdi.mdi-logout-variant
                            | Sign Out
                li
                    template(if.bind="user.image")
                        img(src="${user.image}")
                    template(if.bind="!user.image")
                        i.material-icons.mdi.mdi-account-circle