template
    .header Node Template
    .content
        template(if.bind="!selectingCredential")
            .ui.secondary.pointing.menu
                .item.clickable(
                        class="${!selectingTemplate ? 'active' : ''}"
                        click.delegate="toggleTemplate(false)"
                    ) Create New Template

                .item.clickable(
                        class="${selectingTemplate ? 'active' : ''}"
                        click.delegate="toggleTemplate(true)"
                    ) Select Existing Template
            .ui.basic.segment(style="position:relative;min-height:150px;")
                .ui.active.inverted.dimmer(if.bind="loading", style="position:absolute; top:0px; left:0; right:0; bottom:0;")
                    .ui.large.loader

                .ui.form.overlay-form(if.bind="!selectingTemplate")
                    .field.overlay-field
                        .overlay-label
                            label Template Name
                        .ui.input.overlay-input
                            input(type="text" name="name", value.bind="template.name")
                    .field.overlay-field
                        .overlay-label
                            label Description
                        .ui.input.overlay-input
                            textarea(name="description", rows="2", value.bind="template.description")
                    .field.overlay-field
                        .overlay-label
                            label Operating System
                        .ui.input.overlay-input
                            .ui.fluid.search.selection.dropdown(style="line-height: 24px;" ref="list")
                                input(type="hidden" name="operatingSystem", value.bind="template.operatingSystem")
                                i.dropdown.icon
                                .default.text Select OS
                                .menu
                                    .item(repeat.for="os of osService.list()" data-value="${os.id}")
                                        image.ui.image(src='${os.icon}')
                                        | ${os.name}
                    .field.overlay-field
                        .overlay-label
                            label CPUs
                        .ui.input.overlay-input
                            input(
                                type="number"
                                name="cpu"
                                min="0"
                                step="1"
                                value.bind="template.computeProfile.cores"
                            )
                    .field.overlay-field
                        .overlay-label
                            label Disk (GB)
                        .ui.input.overlay-input
                            input(
                                type="number"
                                name="disk"
                                min="0"
                                step="1"
                                value.bind="template.storageProfile.capacity"
                            )
                    .field.overlay-field
                        .overlay-label
                            label Memory (GB)
                        .ui.input.overlay-input
                            input(
                                type="number"
                                name="memory"
                                min="0"
                                step="1"
                                value.bind="template.memoryProfile.capacity"
                            )

                    button.ui.pull-right.primary.button(click.delegate="saveNodeTemplate()") Save Node Template

                .ui.link.centered.four.cards(if.bind="selectingTemplate")
                    .card(repeat.for="template of templates" click.delegate="selectNodeTemplate(template)")
                        .content
                            .header ${template.name}
                            .meta CPUs: ${template['compute-profile'].cores}
                            .meta Disk (GB): ${template['storage-profile'].capacity}
                            .meta Memory (GB): ${template['memory-profile'].capacity}
                            .description ${template.description}
                        .extra.content
                            img.ui.right.spaced.mini.image(src="${template.operatingSystem.icon}")
                            | ${template.operatingSystem.name}

        .ui.form.overlay-form(if.bind="selectingCredential")
            .field.overlay-field
                .overlay-label
                    label Credential
                .ui.input.overlay-input
                    //todo save the icons into some other place. if you change these, also change in add-credential
                    // i.lock.icon for up (Username/Password)
                    // i.protect.icon for iam (IAM)
                    // i.terminal.icon for ssh (SSH)
                    .ui.fluid.search.selection.dropdown(style="line-height: 24px;" ref="credentialList")
                        input(type="hidden" name="credential", value.bind="credential.id")
                        i.dropdown.icon
                        .default.text Select Credential
                        .menu
                            .item(repeat.for="credential of credentials" data-value="${credential.id}")
                                i.lock.icon
                                | ${credential.name}

            button.ui.pull-right.primary.button(click.delegate="save()") Save
