//
   Created by dustinlish on 2/28/17.

template
    .overlay.au-animate
        //.overlay-back.overlay-nav(click.delegate="back()")
        //    i.ion-ios-arrow-thin-left.icon
        //    span back
        .overlay-close.overlay-nav(click.delegate="close()")
            i.ion-ios-close-empty.icon
            span esc
        .ui.container
            .ui.secondary.menu
                .ui.items
                    .item
                        .ui.tiny.image
                            img(src='styles/themes/hasli/assets/images/logos/ca-logo.png')
                        .middle.aligned.content
                            a.header CA UIM
                            .meta
                                span Deploys CA UIM, UMP, and monitoring probes
                            .description
                                p
                            .extra
                                | Version: 8.47
            .ui.secondary.pointing.menu
                a.item(
                repeat.for='row of router.navigation',
                class="${row.isActive ? 'active' : ''}"
                href.bind='row.href'
                )
                    | ${row.title}
            .ui.container
                .ui.fitted.divider
                router-view