//
   Created by dustinlish on 2/6/17.
template
    .ui.hidden.divider

    template(if.bind="instances.length == 0")
        h2.ui.center.aligned.icon.header
            i.circular.red.ion-ios-loop.icon.circular--icon.circular--icon_red
            |   Welcome to Hasli.io! Browse some existing applications or create your own to deploy!
        h4.ui.center.aligned.grey.header
            |   You'll need to add a cloud provider before deploying any applications


    .ui.container(if.bind="instances.length > 0")
        .ui.basic.segment
            h2.ui.header
                i.circular.red.ion-ios-loop.icon.circular--icon.circular--icon_red
                .content
                    |   Instances
        .ui.hidden.divider
        .ui.basic.segment
            .overview-widget
                .widget-action-menu
                    .ui.small.icon.input
                        input(type='text', placeholder='Search')
                        i.search.icon
                    .ui.small.basic.button.primary
                        | Actions
                        i.dropdown.icon
                    .ui.small.basic.button.primary
                        | Select: Type
                        i.dropdown.icon
                    span.widget-icons
                        .ui.small.button.primary + Create New
                table.ui.very.basic.table.widget-table
                    thead
                        tr
                            th
                                //checkbox
                            th
                                //logo
                            th Name
                            th Status
                            th IP
                            th Ports
                            th CPU
                            th Memory
                            th Disk
                            th
                                //stopstartrestart
                            th.right.aligned
                                i.big.blue.ion-ios-loop-strong.icon(
                                class="${loading ? 'loading' : ''}"
                                click.delegate="refresh()"
                                )
                                //settings
                    tbody
                        tr(if.bind="loading")
                            td.widget-table-reloading(colspan='11')
                                .ui.active.inverted.dimmer
                                    .ui.large.text.loader Reloading ...
                        tr(if.bind="instances.length == 0 && !loading")
                            td.widget-table-empty-alert(colspan='11') You have no instances
                        tr(
                        if.bind="instances.length > 0 && !loading",
                        repeat.for='instance of instances'
                        )
                            td
                                input(type="checkbox")
                            td
                                img.ui.image.tiny(
                                    if.bind="instance.logo != ''",
                                    src="${instance.logo}"
                                    )
                            td
                                | ${instance.name}
                            td
                                .status-circle(class="${instance.statusClass()}")
                                | ${instance.status}
                            td
                                | ${instance.ip}
                            td
                                | ${instance.ports}
                            td
                                //TODO graph
                                | ${instance.cpu}%
                            td
                                //TODO graph
                                | ${instance.memory}%
                            td
                                //TODO graph
                                | ${instance.disk}%
                            td
                                i.icon.large.ion-stop(
                                    if.bind="instance.statusButtons().indexOf('stop') != -1",
                                    click.delegate="stop(instance)"
                                    )
                                i.icon.large.ion-play(
                                    if.bind="instance.statusButtons().indexOf('start') != -1",
                                    click.delegate="start(instance)"
                                )
                                i.icon.large.ion-loop(
                                    if.bind="instance.statusButtons().indexOf('restart') != -1",
                                    click.delegate="restart(instance)"
                                )
                            td.right.aligned
                                i.icon.large.setting