//
   Created by dustinlish on 2/6/17.
template
    require(from="apps/workspaces/resources/custom-elements/charts/line-chart")
    require(from="apps/workspaces/resources/custom-elements/charts/chart-stat.html")

    .ui.hidden.divider

    template(if.bind="!instances || instances.length == 0")
        h2.ui.center.aligned.icon.header
            i.circular.red.ion-ios-loop.icon.circular--icon.circular--icon_red
            //|   Welcome to Hasli.io! Browse some existing applications or create your own to deploy!
            |   Looks like you don't have any instances, create a new one!
        h4.ui.center.aligned.grey.header(if.bind="providers.length == 0")
            |   You'll need to add a cloud provider before deploying any instances
        .ui.centered.grid.container
            .ui.hidden.divider
            .ui.card.clickable(click.delegate="createInstance()")
                .content
                    .meta
                    .description
                        .ui.container.workspaces--image_container
                            img.blue(src='styles/themes/hasli/assets/images/icons/code-working.svg').workspaces--image_size
                    .ui.secondary.button
                                | + Create New Instance
            .ui.hidden.divider

    template(if.bind="instances && instances.length > 0")
        .ui.fluid.container
            .ui.container.equal.height.grid
                .row
                    .column
                        .ui.basic.segment
                            h2.ui.header
                                i.circular.red.ion-ios-loop.icon.circular--icon.circular--icon_red
                                .content
                                    |   Instances
                        .ui.hidden.divider
                .row
                    .eight.wide.column
                        .ui.basic.segment
                            .chart-header
                                | Total Number of Instances
                            chart-stat(value="6", color="rgba(56, 155, 255, .8)")
                            .chart
                                line-chart(data.bind="totalInstancesData")
                    .eight.wide.column
                        .ui.basic.segment
                            .chart-header
                                | Running Instances
                            chart-stat(value="6", color="#1EC38A")
                            .chart
                                line-chart(data.bind="totalInstanceStatuses")
        .ui.hidden.divider
        .ui.divider
        .ui.hidden.divider
        .ui.fluid.container
            .ui.container
                .ui.basic.segment
                    .overview-widget
                        .widget-action-menu
                            .ui.small.icon.input
                                input(type='text', placeholder='Search')
                                i.search.icon
                            .ui.small.basic.button.primary
                                | Actions
                                i.dropdown.icon
                            //.ui.small.basic.button.primary
                            //    | Select: Type
                            //    i.dropdown.icon
                            span.widget-icons
                                .ui.small.button.primary(click.delegate="createInstance()") + Create New
                        table.ui.very.basic.selectable.table
                            thead
                                tr
                                    th
                                        //checkbox
                                    th
                                        //logo
                                    th Name
                                    th Status
                                    th IP
                                    th ID
                                    th
                                        //stopstartrestart
                                    th.right.aligned
                                        i.big.blue.ion-ios-refresh-outline.icon(
                                        class="${loading ? 'loading' : ''}"
                                        click.delegate="refresh()"
                                        )
                                        //settings
                            tbody
                                tr(if.bind="loading")
                                    td.widget-table-reloading(colspan='8')
                                        .ui.active.inverted.dimmer
                                            .ui.large.text.loader Reloading ...
                                tr(if.bind="instances.length == 0 && !loading")
                                    td.widget-table-empty-alert(colspan='8') You have no instances
                                tr(if.bind="instances.length > 0 && !loading", repeat.for='instance of instances' click.delegate="openInstance()")
                                    td
                                        input(type="checkbox")
                                    td
                                        img.ui.image.tiny(
                                            if.bind="instance.logo",
                                            src="${instance.logo}"
                                            )
                                    td
                                        a.item
                                            | ${instance.name}
                                    td
                                        i.icon.status-circle(class="${computeStatus(instance)}")
                                        | ${instance.state}
                                    td
                                        | ${instance.publicIp}
                                    td
                                        | ${instance.instanceId}
                                    td.center.aligned
                                        //i.icon.large.grey.ion-stop-outline
                                        //i.icon.large.grey.ion-ios-play-outline
                                        //i.icon.large.grey.ion-ios-loop
                                        //i.icon.large.ion-stop.clickable(
                                        //    if.bind="statusButtons(instance).indexOf('stop') != -1",
                                        //    click.delegate="stop(instance)"
                                        //    )
                                        //i.icon.large.ion-play.clickable(
                                        //    if.bind="statusButtons(instance).indexOf('start') != -1",
                                        //    click.delegate="start(instance)"
                                        //)
                                        //i.icon.large.ion-loop.clickable(
                                        //    if.bind="statusButtons(instance).indexOf('restart') != -1",
                                        //    click.delegate="restart(instance)"
                                        //)
                                    td.right.aligned
                                        i.icon.grey.big.ion-ios-gear-outline.clickable