//
   Created by dustinlish on 3/28/17.

template
    .ui.hidden.divider

    .ui.container
        .ui.basic.segment
            .ui.grid
                .four.wide.column
                .eight.wide.column
                .four.wide.right.aligned.column
                    span.widget-icons
                        .ui.small.button.primary(click.delegate="create()") + Create New
                table.ui.very.basic.very.padded.selectable.table
                    thead
                        tr
                            th.right.aligned
                            th Name
                            th Version
                            th Status
                            th Instances
                            th Containers
                            th Modified
                            th Owner
                            th.right.aligned
                                i.link.big.blue.ion-ios-loop-strong.icon(
                                class="${loading ? 'loading' : ''}"
                                click.delegate="refresh()"
                                )
                    tbody
                        tr(if.bind="loading")
                            td.widget-table-reloading(colspan='10')
                                .ui.active.inverted.dimmer
                                    .ui.huge.loader
                        tr(if.bind="(!applications || applications.length == 0) && !loading")
                            td.widget-table-reloading(colspan='10')
                                .ui.hidden.divider
                                h2.ui.center.aligned.icon.header
                                    |   Looks like you don't have any applications, create a new application or browse existing ones!
                                h4.ui.center.aligned.grey.header
                                    |   You'll need to add a cloud provider before deploying any applications
                                .ui.basic.center.aligned.segment
                                    .ui.secondary.button(click.delegate="create()")
                                        | Create Application
                                    .ui.hidden.divider
                        tr(
                        if.bind="applications.length > 0 && !loading",
                        as-element="compose",
                        view-model="common/resources/custom-elements/table/row",
                        view="apps/workspaces/resources/custom-elements/table/application-row.html"
                        repeat.for='application of applications',
                        model.bind="application"
                        )
