template

    .auth-toggle
        | Already have an account?
        a.btn-flat(click.delegate="signIn()") Sign In

    h1 Create Hasli.io account

    .input-field
        input(type='text' id="${firstnameId}" value.bind='user.firstname')
        label(for="${firstnameId}") First Name
    .input-field
        input(type='text' id="${lastnameId}" value.bind="user.lastname")
        label(for="${lastnameId}") Last Name
    .input-field
        input(type="text" id="${usernameId}" value.bind="user.username")
        label(for="${usernameId}") Username
    .input-field
        input(type='text' id="${emailId}" value.bind='user.emailAddress')
        label(for="${emailId}") Email

    .row
        .col.m6.input-field
            input(type='password' id="${passwordId}" value.bind='user.password')
            label(for="${passwordId}") Password
        .col.m6.input-field
            input(type='password' id="${confirmId}" value.bind='user.password')
            label(for="${confirmId}") Confirm Password

    .auth-submit
        button.waves-effect.btn(type="submit" click.delegate="signup()") Sign Up

//.ui.error.message.left(show.bind="showError" style="margin-top:10px")
//    p Username or email already exists